/* ================================================= */
/* DateField Definitions */
/* ================================================= */
.qui .qui-date-field-container {
    width: 100%;
}

.qui .qui-date-field {
    width: fit-content;
    position: relative;
    padding: 0.8em 1em 0.8em 1em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom: 0.4em solid;
}

.qui .qui-date-field-label {
    padding-left: 0.1em;
    padding-bottom: 0.5em;
    font-size: 1.25em;
}

.qui .react-datepicker__input-container {
    width: 75%;
}

.qui .qui-date-field-date-picker {
    font-size: 1.625em;
    border: none;
    outline: none;
    background-color: transparent;
    pointer-events: none;
    caret-color: transparent;
}

.qui .qui-calendar-icon {
    cursor: pointer;
    position: absolute;
    right: 7%;
    top: 30%;
    font-size: 3em;
    -webkit-text-stroke: 0.06em #000000;
}

.qui .qui-date-field .react-datepicker {
    .react-datepicker__time-container
        .react-datepicker__time
        .react-datepicker__time-box
        ul.react-datepicker__time-list
        li.react-datepicker__time-list-item {
        height: 1.8em;
    }
    .react-datepicker__time-container
        .react-datepicker__time
        .react-datepicker__time-box
        ul.react-datepicker__time-list
        li.react-datepicker__time-list-item--selected {
        height: 1.5em;
    }
    li {
        margin-bottom: 0em;
    }
}
/* ================================================= */
/* Styling Definitions for different resolution */
/* ================================================= */
@media screen and (min-width: 320px) {
    .qui .qui-date-field-label {
        font-size: 0.9em;
    }

    .qui .qui-date-field-date-picker {
        font-size: 1.1em;
    }

    .qui .qui-calendar-icon {
        font-size: 2em;
    }

    .qui .react-datepicker {
        font-size: 0.8em;
        margin-left: -1.25em;
        inset: 0.8em 0 0 0;
    }

    .qui .react-datepicker__day-name,
    .react-datepicker__day,
    .react-datepicker__time-name {
        width: 1.4em;
    }

    .qui .qui-date-field .react-datepicker {
        li {
            margin-left: 0;
            font-size: 1em;
        }
    }
}

@media screen and (min-width: 481px) {
    .qui .qui-date-field-label {
        font-size: 1.25em;
    }

    .qui .qui-date-field-date-picker {
        font-size: 1.6em;
    }

    .qui .qui-calendar-icon {
        font-size: 2.8em;
    }

    .qui .react-datepicker {
        font-size: 1.04em;
        margin-left: -1em;
        inset: 0.6em 0 0 0;
    }

    .qui .react-datepicker__day-name,
    .react-datepicker__day,
    .react-datepicker__time-name {
        width: 2em;
    }

    .qui .qui-date-field .react-datepicker {
        li {
            margin-left: 0;
            font-size: 1em;
        }
    }
}

@media screen and (min-width: 769px) {
    .qui .qui-date-field-label {
        font-size: 1.5em;
    }

    .qui .qui-date-field-date-picker {
        font-size: 1.8em;
    }

    .qui .qui-calendar-icon {
        font-size: 3em;
    }

    .qui .react-datepicker {
        font-size: 1.22em;
        margin-left: -0.8em;
        inset: 0.5em 0 0 0;
    }

    .qui .react-datepicker__day-name,
    .react-datepicker__day,
    .react-datepicker__time-name {
        width: 2em;
    }

    .qui .qui-date-field .react-datepicker {
        li {
            margin-left: 0;
            font-size: 1em;
        }
    }
}
@media screen and (min-width: 1024px) {
    .qui .qui-date-field-label {
        font-size: 1.5em;
    }

    .qui .qui-date-field-date-picker {
        font-size: 2em;
    }

    .qui .qui-calendar-icon {
        font-size: 3.5em;
    }

    .qui .react-datepicker {
        font-size: 1.35em;
        margin-left: -0.7em;
        inset: 0.45em 0 0 0;
    }

    .qui .react-datepicker__day-name,
    .react-datepicker__day,
    .react-datepicker__time-name {
        width: 2.1em;
    }

    .qui .qui-date-field .react-datepicker {
        li {
            margin-left: 0;
            font-size: 1em;
        }
    }
}
