.qui.qui-choice {
    text-align: center;
    .qui-button {
        &.float-inline {
            display: contents;
        }
        &.float-left {
            margin: 0 0.2em;
            display: contents;
        }
        &.float-right {
            margin: 0.2em;
            display: contents;
        }
        &.float-none {
            margin-left: 0.2em;
            display: contents;
        }
    }
}

.qui .qui-choice-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    Button {
        &.pad-fitted {
            padding: 0.7em 1.1em;
        }
        &.pad-compact {
            padding: 1em 1.5em;
        }
        &.pad-normal {
            padding: 1.5em 2em;
        }
        &.pad-relaxed {
            padding: 2.5em 3em;
        }
        &.right-aligned {
            justify-content: flex-start;
        }
    }
    .qui-or {
        text-transform: uppercase;
        display: flex;
        z-index: 1;
        position: absolute;
        align-self: center;
        background-color: white;
        height: 2.5em;
        width: 2.5em;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        box-shadow: 0.1em 0.1em 0.3em #696969;
        border: 1px solid #ffffff;
        color: #454545;
        &.pad-fitted {
            font-size: 0.5em;
            padding: 0.5em;
        }
        &.pad-compact {
            font-size: 0.6em;
            padding: 0.5em;
        }
        &.pad-normal {
            font-size: 0.8em;
            padding: 0.5em;
        }
        &.pad-relaxed {
            font-size: 1.1em;
            padding: 0.5em;
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
    .qui .qui-choices {
        font-size: 0.8em;
    }

    .qui .qui-or {
        height: 3.3em;
        width: 3.3em;
        font-size: 0.5em;
    }
}
