/* ================================================= */
/* Tag Definitions */
/* ================================================= */
.qui .qui-tag-block {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.6em;
}

.qui .qui-tag-label {
    font-size: 1.2em;
}