/* ================================================= */
/* CaptionedVideo Definitions */
/* ================================================= */
.qui.qui-captioned-video {
    background-color: #ffffff;
    padding: 1.5em;
    border-radius: 1em;
    min-height: 30em;
    &.qui-captioned-video-presenter-container {
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        text-align: left;
    }

    .qui .qui-title-block {
        min-width: 12em;
        min-height: 10em;
    }

    .qui .qui-title {
        font-size: 1.5em;
        padding: 0 0 0.2em 0;
    }

    .qui .qui-sub-title {
        font-size: 1em;
    }

    .qui-video-box {
        margin: 1em;
        min-width: 90%;
    }

    .qui-captioned-video-image {
        width: 100%;
        border-radius: 1em;
        max-height: 15em;
        filter: drop-shadow(0px 5px 2px #a09797);
    }
    .qui-text-block-area {
        width: 80%;
        margin: auto;
    }
}
// .qui .qui-text-block-area {
//     width: 80%;
//     margin: auto;
// }
//-----------------------------------------
// CaptionedVideo presenter styles
//-----------------------------------------
.qui .qui-captioned-video-presenter {
    width: 40%;
    position: absolute;
    right: 0;
    bottom: 0;
    object-fit: cover;
}
.qui .qui-captioned-video-presenter-video-box {
    .qui-video-box {
        margin: 0 0 0.5em 0;
        min-width: 90%;
    }
}
.qui-captioned-video-presenter-title {
    .qui-text-block-area {
        width: 90%;
        margin: 0 1em 0 0em;
        text-align: left;
        font-weight: bolder;
        font-size: 1.5em;
        .qui-block-text {
            padding: 0.2em;
            transform: scaleY(1.3);
        }
    }
}
.qui-captioned-video-presenter-sub-title {
    .qui .qui-text-block-area {
        width: 70%;
        margin: 0 1em 0 0em;
        text-align: left;
        font-size: 1em;
        .qui-block-text {
            padding: 0.2em;
            transform: scaleY(1.2);
            font-weight: lighter;
        }
    }
}
.qui-captioned-video-presenter-caption {
    .qui-text-block-area {
        margin: 0 1em 0 0em;
        text-align: left;
        font-size: 1em;
        z-index: 1;
        width: 50vw;

        .qui-block-text {
            padding: 0.2em;
            margin: 1em 0em;
            transform: scaleY(1.2);
            font-weight: lighter;
        }
    }
    .qui-text-block-tringle {
        .qui-arrow-right-bottom {
            z-index: 1;
            right: 0.2em;
        }
    }
}
/* ================================================= */
/* CaptionedVideo Sizing Definitions */
/* ================================================= */
@media only screen and (min-width: 320px) {
    .qui.qui-captioned-video {
        width: auto;

        .qui-captioned-video {
            font-size: 1em;
            width: fit-content;
        }
    }
}
@media only screen and (min-width: 481px) {
    .qui.qui-captioned-video {
        width: 20em;
    }
}
