.qui.qui-button-bank .qui-button {
  overflow: visible;
}

.qui.qui-button-bank {
  overflow: visible;
}

.qui .qui-button-bank-single-button .qui-button button {
  padding: 0.6em;
  min-width: 20em;
  height: 2.5em;
  font-size: 1.2em;
  margin: 0 0.1em;
}

.qui.qui-button-bank.qui-button-bank-horizontal {
  display: flex;
}

@media only screen and (min-width: 320px) {
  .qui-button-bank {
    .size-tiny {
      font-size: 0.6em;
    }
    .size-small {
      font-size: 0.65em;
    }
    .size-normal {
      font-size: 0.7em;
    }
    .size-big {
      font-size: 0.72em;
    }
    .size-huge {
      width: 20em;
      font-size: 0.75em;
    }
    .size-massive {
      font-size: 0.85em;
    }
  }
}

@media only screen and (min-width: 481px) {
  .qui-button-bank {
    .size-tiny {
      font-size: 0.65em;
    }
    .size-small {
      font-size: 0.7em;
    }
    .size-normal {
      font-size: 0.75em;
    }
    .size-big {
      font-size: 0.85em;
    }
    .size-huge {
      font-size: 0.9em;
    }
    .size-massive {
      font-size: 1em;
    }
  }
}

@media only screen and (min-width: 769px) {
  .qui-button-bank {
    .size-normal {
      font-size: 0.8em;
    }
  }
}
