.qui .qui-arc {
  width: 3em;
  height: 3em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-top-right-radius: 100%;
  border-top: 1px solid black;
  border-right: 1px solid black;
  margin-top: 1em;
}

.qui .qui-arc button {
  height: 2.5em;
  width: 2.5em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 6px 7px 0px rgb(201, 201, 201);
}
.qui .size-small {
  .qui-arc {
    height: 3.5em;
    width: 3.5em;
  }
}
.qui .size-normal {
  .qui-arc {
    height: 4em;
    width: 4em;
  }
}
.qui .size-big {
  .qui-arc-menu-button {
    height: 2.8em;
    width: 2.8em;
  }
  .qui-arc {
    height: 5.5em;
    width: 5.5em;
  }
}
.qui .size-huge {
  .qui-arc-menu-button {
    height: 2.7em;
    width: 2.7em;
  }
  .qui-arc {
    height: 6em;
    width: 6em;
  }
}
.qui .size-massive {
  .qui-arc-menu-button {
    height: 3em;
    width: 3em;
  }
  .qui-arc {
    height: 9em;
    width: 9em;
  }
}
