.qui-image-upload-modal {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.5em;
  border-radius: 0.9em;
  position: absolute;
  z-index: 20;
  box-shadow: 0 6px 6px 0px #00000052;
}
.qui-image-upload-modal:focus {
  outline: none;
}
.qui .qui-avatar-canvas {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.qui .qui-image-cropper .qui-button.float-none {
  min-height: 0;
  margin-bottom: 1.2em;
}
.qui.qui-image-upload-modal
  .qui-image-cropper
  .qui-image-upload-button
  .qui-button
  button {
  font-size: 1.5em;
  color: rgb(90, 90, 90);
}
.qui .qui-image-upload-button button {
  border-radius: 0.3em;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
}
.qui .qui-image-cropper .qui-button .qui-label {
  display: none;
}
.qui .qui-upload-image-modal-button {
  width: 100%;
  font-size: 1.5em;
  margin-bottom: 1em;
  padding: 0.5em;
  border-radius: 0.2em;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
}
.qui .qui-image-modal-upload-header {
  width: 100%;
  display: flex;
}
.qui .qui-image-modal-upload-header h2 {
  margin: 0 0 1.3em 0;
  color: #777777;
  font-size: 2em;
}
.qui .qui-image-upload-modal-range-slider {
  width: 100%;
}
.qui .qui-image-upload-buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  button {
    margin-left: 0.5em;
    padding: 1.5em 2.5em;
    border-radius: 0.2em;
  }
}
.qui .qui-save-image-modal-button {
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
}
.qui .qui-image-preview {
  border-radius: 1em;
}
.qui .qui-image-upload-default-image {
  border-radius: 1em;
  object-fit: cover;
  width: 100%;
}
.qui.qui-image-upload-modal .qui-button button {
  font-size: 1.5em;
  padding: 0.8em 2em;
}
// ---------------------------------------------------
// range-slider default CSS with modifications
// ---------------------------------------------------
.qui.qui-image-upload-modal .rangeslider-horizontal {
  height: 12px;
  border-radius: 10px;
}
.qui.qui-image-upload-modal .rangeslider {
  display: block;
  margin: 20px 0;
  position: relative;
  background: #e6e6e6;
  touch-action: none;
}
.qui.qui-image-upload-modal
  .rangeslider.rangeslider-horizontal
  .rangeslider__fill {
  height: 100%;
  border-radius: 10px;
  top: 0;
}
.qui .qui-image-cropper.variant-primary {
  .rangeslider.rangeslider-horizontal .rangeslider__fill {
    background-color: #ed6e6e;
  }
}
.qui .qui-image-cropper.variant-secondary {
  .rangeslider.rangeslider-horizontal .rangeslider__fill {
    background-color: #3e587a;
  }
}
.qui .qui-image-cropper.variant-warning {
  .rangeslider.rangeslider-horizontal .rangeslider__fill {
    background-color: #ffbf00;
  }
}
.qui.qui-image-upload-modal .rangeslider-horizontal .rangeslider__handle {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.qui.qui-image-upload-modal .rangeslider .rangeslider__handle {
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  border: none;
}
.qui .qui-image-cropper.variant-primary {
  .rangeslider .rangeslider__handle {
    background-color: #ed6e6e;
  }
}
.qui .qui-image-cropper.variant-secondary {
  .rangeslider .rangeslider__handle {
    background-color: #3e587a;
  }
}
.qui .qui-image-cropper.variant-warning {
  .rangeslider .rangeslider__handle {
    background-color: #ffbf00;
  }
}
.qui.qui-image-upload-modal .rangeslider-horizontal .rangeslider__handle:after {
  display: none;
}
.qui.qui-image-upload-modal
  .rangeslider-horizontal
  .rangeslider__handle-tooltip {
  top: -55px;
}
.qui.qui-image-upload-modal .rangeslider .rangeslider__handle-tooltip {
  width: 40px;
  height: 40px;
  text-align: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  font-weight: normal;
  font-size: 14px;
  transition: all 100ms ease-in;
  border-radius: 4px;
  display: inline-block;
  color: white;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}
.qui.qui-image-upload-modal .rangeslider .rangeslider__handle-tooltip span {
  margin-top: 12px;
  display: inline-block;
  line-height: 100%;
}
.qui.qui-image-upload-modal
  .rangeslider-horizontal
  .rangeslider__handle-tooltip:after {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid rgba(0, 0, 0, 0.8);
  left: 50%;
  bottom: -8px;
  transform: translate3d(-50%, 0, 0);
}
.qui.qui-image-upload-modal .rangeslider .rangeslider__handle-tooltip:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
}
@media only screen and (min-width: 320px) {
  .qui-image-upload-modal {
    font-size: 0.6em;
  }
}
@media only screen and (min-width: 1023px) {
  .qui-image-upload-modal {
    font-size: 0.8em;
  }
}
