.qui.qui-container {
    height: 100vh;
    width: 100vw;

    &.theme-dark {
        background-color: #525252;
        color: #ffffff
    }

    &.theme-light {
        background-color: #ffffff;
        color: #000000
    }
}
.qui .qui-content {
    font-Size: 1rem;
    transform: translateY(40vh);
    position: relative;
    z-index: 1000;
}
.qui .qui-div-bottom {
    position: absolute;
    left: -10vw;
    bottom: -10%;
    width: 120vw;
    height: 30%;
    transform: rotate(10deg);
}