.qui .qui-btn {
  min-width: 0;
  cursor: pointer;
}
.qui .qui-btn.qui-btn-disabled {
  background-color: #aaaaaa;
  color: #fff;
  &.emp-text {
    color: #aaaaaa;
    background-color: transparent;
  }
  &.emp-outlined {
    color: #aaaaaa;
    background-color: transparent;
    border: 1px solid #aaaaaa;
  }
}

.qui .qui-btn.is-circular {
  border-radius: 50px;
}

.qui .qui-btn.is-circular.is-only-icon {
  border-radius: 50%;
  padding: 8px;
}

.qui .qui-btn.is-circular.is-only-icon.size-big,
.qui .qui-btn.is-circular.is-only-icon.size-huge {
  padding: 16px;
}

.qui .qui-btn.is-circular.is-only-icon.size-massive {
  padding: 24px;
}

.qui .qui-label {
  margin-left: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}

.qui .qui-caption {
  margin-top: 5px;
  margin-left: 3px;
  font-style: italic;
}

.qui.is-loading .qui-icon {
  display: none;
}

.qui .icon-loader {
  margin-right: 10px;
}

.qui:not(.is-loading) .icon-loader {
  display: none;
}
