.qui .qui-btn {
    min-width: 0;
    cursor: pointer;
}

.qui .qui-btn:hover {
    transform: scale(1.05);
}

.qui .qui-label {
    font-size: 1.25em;
    margin-left: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

.qui .qui-caption {
    font-size: 0.85em;
    margin-top: 5px;
    margin-left: 5px;
    font-style: italic;
}