.qui.qui-optional-image-field {
  display: flex;
  align-items: center;
  filter: drop-shadow(0px 3px 2px #0000004f);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.5em;
}

.qui.qui-optional-image-field .is-fluid {
  min-width: auto;
}

.qui.qui-optional-image-field.is-fluid {
  min-height: 0;
}

.qui.qui-optional-image-field.is-fluid .qui-optional-image-field-button-container {
  flex: 1;
}

.qui.qui-optional-image-field.is-hidden {
  display: none;
}

.qui .qui-optional-image-field-wrapper {
  display: flex;
  border: 0.2em solid #ffbf00;
}

.qui .qui-optional-image-field-middle-border {
  width: 0.15em;
  background-color: #ffbf00;
}

.qui .qui-optional-image-field-container {
  display: flex;
  object-fit: contain;
  justify-content: center;
  cursor: pointer;

  .qui-optional-image-field-icon {
    padding: 0.12em;
    font-size: 2em;
    color: #969696;
    background-color: #efefef;
  }

  .qui-optional-image-field-image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
}

.qui .qui-oif-wd {
  width: 2.5em;
}

.qui .qui-oif-ht {
  height: 2.5em;
}

.qui .qui-optional-image-field-button {
  border-radius: 0;
  width: 100%;
  color: #ffbf00;
  background-color: #f6f2e9;
  border: none;
  padding: 0.35em 3em;
  font-size: 1em;
}

.qui .qui-optional-image-field-button:hover {
  background-color: #f6f2e9e3;
  border: none;
}

.qui .qui-optional-image-field-action-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  padding: 0.7em;
  height: 100%;
  background-color: #666666;
  color: #969696;
  min-width: 1em;
  cursor: pointer;
}

.qui .qui-optional-image-field-action-icon.qui-uploaded {
  cursor: pointer;
}

@media only screen and (min-width: 320px) {
  .qui.qui-optional-image-field {
    font-size: 0.69em;
  }
}

@media only screen and (min-width: 481px) {
  .qui.qui-optional-image-field {
    font-size: 0.75em;
  }
}

@media only screen and (min-width: 769px) {
  .qui.qui-optional-image-field {
    font-size: 1em;
  }
}