.qui-custom-color-container {
	display: flex;
	flex-direction: column;
	justify-content: baseline;
	align-items: center;
}
.qui .qui-custom-color-button{
	width: 2.4rem;
	height: 1.3rem;
	border: 0.1em solid black;
	cursor: pointer;
	margin-right: 1rem;
}
.qui .qui-custom-color-button-container{
	display: flex;
	margin: auto;
}
.qui .qui-chrome-picker{
	position: fixed;
	top:25%;
	left:70%;
	width: 6em;
	height: 12em;
	transform: translate(-50% , -50%);
	z-index: 1000;
}