.qui.qui-custom-color {
	overflow: visible;
	justify-content: center;
	align-items: center;
	width: fit-content;
}
.qui-color-picker-container{
	width: fit-content;
}
.qui .qui-qui-ribbon-menu-custom-color-container {
	position: relative;
}
.qui .qui-custom-color-button {
	width: 18px;
	height: 10px;
	border: 0.1em solid black;
	cursor: pointer;
	margin-right: 1rem;
}
.qui .button-title-container {
	display: flex;
	align-items: center;
}
.qui .qui-chrome-picker {
	position: absolute;
	top: 100%;
	left: 0%;
	z-index: 1000;
}
.qui .qui-custom-color-button {
	position: relative;
}
.qui.qui-custom-color .qui-chrome-picker {
	width: 162px;
}
