/* ================================================= */
/* SelectField Definitions */
/* ================================================= */
.qui .qui-select-field-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom: 0.4em solid;
}

.qui .qui-select-field {
    width: 100%;
    .css-17nr37i-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
        padding-left: 0.2em;
    }
}

.qui .qui-select-field-label {
    padding: 0.6em 0 0 0.2em;
    width: fit-content;
    font-size: 1.3em;
}

.qui .qui-select-field-select {
    padding: 0 1em 0 0em;
    width: 100%;
    height: 2em;
    font-size: 1.3em;
    font-weight: 600;
}

.css-v26e56-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
    ul {
        li {
            font-size: 1.3em;
        }
    }
}

.qui .MuiOutlinedInput-notchedOutline {
    border: none;
    outline: none;
}

.qui .MuiSelect-icon {
    font-size: 3em;
}

.css-v26e56-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
    width: 100%;
}

.qui-select-field-menu-item {
    overflow: hidden;
    text-overflow: ellipsis;
}