/* ================================================= */
/* SelectField Definitions */
/* ================================================= */
.qui .qui-select-field-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    // min-width: 15em;
    // min-height: 2em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom: 0.4em solid;
}
.qui .qui-select-field {
    width: 100%;
}

.qui .qui-select-field-label {
    padding: 0.6em 0 0 1em;
    width: fit-content;
    font-size: 1.3em;
}

.qui .qui-select-field-select {
    padding: 0 1em 0 0.5em;
    width: 100%;
    font-size: 1.3em;
    font-weight: 600;
}
.qui .MuiOutlinedInput-notchedOutline {
    border: none;
    outline: none;
}
.qui .MuiSelect-icon {
    font-size: 3em;
}
