.qui .qui-ordering-list {
    display: flex;
    margin-top: 0.1em;
    align-items: center;
    justify-content: center;
}

.qui-ordering-list-parent-container {
    display: flex;
    flex-direction: column;
}

.qui .qui-ordering-btn {
    display: flex;
    border-radius: 0.2em;
    border: 0.2em solid #666666;
}

.qui .qui-ordering-border-up {
    display: flex;
    width: 100%;
    margin-bottom: 0.4em;
    border-bottom: 0.2em solid #666666;
}

.qui .qui-ordering-dotted-up {
    width: 100%;
    display: flex;
    margin-bottom: 0.2em;
    border-bottom: 0.2em dashed #666666;
}

.qui .qui-ordering-border-down {
    display: flex;
    width: 100%;
    margin-top: 0.4em;
    border-top: 0.2em solid #666666;
}

.qui .qui-ordering-dotted-down {
    display: flex;
    width: 100%;
    margin-top: 0.2em;
    border-top: 0.2em dashed #666666;
    align-items: center;
}

.qui .qui-ordering-btn-icon {
    font-size: 1em;
    width: 100%;
    border: none;
    color: #666666;
    background-color: #f8f8f8;
}

.qui .qui-ordering-title-bttn {
    display: flex;
    padding: 0.5em 2em;
    width: 12em;
    min-height: 2.8em;
    margin: 0.2em 0.6em;
    align-items: center;
    justify-content: center;
    border-radius: 0.2em;
    filter: drop-shadow(2px 5px 5px rgb(150, 146, 146));
    pointer-events: none;
}

.qui .qui-submit Button {
    margin-top: 0.5em;
    padding: 0.5em 4em;
    font-size: 1em;
}

@media only screen and (min-width: 320px) {
    .qui .qui-ordering-list {
        font-size: 0.7em;
    }

    .qui .qui-ordering-btn {
        width: 2em;
        height: 2em;
    }

    .qui .qui-submit Button {
        font-size: 0.8em;
    }
}

@media only screen and (min-width: 540px) {
    .qui .qui-ordering-list {
        font-size: 1em;
    }

    .qui .qui-ordering-btn {
        width: 2.5em;
        height: 2.5em;
    }

    .qui .qui-submit Button {
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 720px) {
    .qui .qui-ordering-list {
        font-size: 1.5em;
    }

    .qui-ordering-btn {
        width: 2.8em;
        height: 2.8em;
    }

    .qui .qui-submit Button {
        font-size: 1.7em;
    }
}
