.qui img{
    border-radius: 50%;
    height:100%;
    width:100%;   
}

/* ================================================= */
/* Padding Definitions */
/* ================================================= */
.qui .qui-avatarContainer.pad-fitted {
    padding: 0px 0px;
}
.qui .qui-avatarContainer.pad-compact {
    padding: 0px 0px;
}
.qui .qui-avatarContainer.pad-normal {
    padding: 0px 0px;
}
.qui .qui-avatarContainer.pad-relaxed,
.qui .qui-avatarContainer.pad-normal.size-huge,
.qui .qui-avatarContainer.pad-normal.size-massive {
    padding: 0px 0px;
}
.qui .qui-avatarContainer.pad-relaxed.size-huge,
.qui .qui-avatarContainer.pad-relaxed.size-massive {
    padding: 0px 0px;
}

/* ================================================= */
/* Font Size Definitions */
/* ================================================= */
.qui .size-massive {
    i {
        font-size: 1.7em;
    }
}
.qui .size-huge {
    i {
        font-size: 1.60em;
    }
}
.qui .size-big {
    i {
        font-size: 1.45em;
    }
}
.qui .size-normal {
    i {
        font-size: 1.3em;
    }
}
.qui .size-small { 
    i {
        font-size: 1.15em;
    }
}
.qui .size-tiny {
    i {
        font-size: 1em;
    }
}

.qui-container{
    border-radius: 50%;
    overflow: hidden;
}

.qui-container.qui-icon-container.size-tiny{
    height: 2em;
    width: 2em;
}
.qui-container.qui-icon-container.size-small{
    height: 2.5em;
    width: 2.5em;
}
.qui-container.qui-icon-container.size-normal{
    height: 3em;
    width: 3em;
}
.qui-container.qui-icon-container.size-big{
    height: 3.5em;
    width: 3.5em;
}
.qui-container.qui-icon-container.size-huge{
    height: 4em;
    width: 4em;
}
.qui-container.qui-icon-container.size-massive{
    height: 5em;
    width: 5em;
}

.qui-icon{
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}