.qui .qui-icon-container img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}
/* ================================================= */
/* Padding Definitions */
/* ================================================= */
.qui .qui-avatar-wrapper.pad-fitted {
  padding: 0px 0px;
}

.qui .qui-avatar-wrapper.pad-compact {
  padding: 0px 0px;
}

.qui .qui-avatar-wrapper.pad-normal {
  padding: 0px 0px;
}

.qui .qui-avatar-wrapper.pad-relaxed,
.qui .qui-avatar-wrapper.pad-normal.size-huge,
.qui .qui-avatar-wrapper.pad-normal.size-massive {
  padding: 0px 0px;
}

.qui .qui-avatar-wrapper.pad-relaxed.size-huge,
.qui .qui-avatar-wrapper.pad-relaxed.size-massive {
  padding: 0px 0px;
}
/* ================================================= */
/* Font Size Definitions */
/* ================================================= */
.qui .qui-avatar-container .size-massive {
  i {
    font-size: 1.7em;
  }
}

.qui .qui-avatar-container .size-huge {
  i {
    font-size: 1.6em;
  }
}

.qui .qui-avatar-container .size-big {
  i {
    font-size: 1.45em;
  }
}

.qui .qui-avatar-container .size-normal {
  i {
    font-size: 1.3em;
  }
}

.qui .qui-avatar-container .size-small {
  i {
    font-size: 1.15em;
  }
}

.qui .qui-avatar-container .size-tiny {
  i {
    font-size: 1em;
  }
}

.qui-avatar-container {
  border-radius: 50%;
  overflow: hidden;
}

.qui-avatar-container.qui-icon-container.size-tiny {
  height: 2em;
  width: 2em;
}

.qui-avatar-container.qui-icon-container.size-small {
  height: 2.5em;
  width: 2.5em;
}

.qui-avatar-container.qui-icon-container.size-normal {
  height: 3em;
  width: 3em;
}
.qui-avatar-container.qui-icon-container.size-big {
  height: 3.5em;
  width: 3.5em;
}

.qui-avatar-container.qui-icon-container.size-huge {
  height: 4em;
  width: 4em;
}

.qui-avatar-container.qui-icon-container.size-massive {
  height: 5em;
  width: 5em;
}

.qui-avatar-icon-container {
  height: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
