.qui-multi-select-checkbox {
  cursor: pointer;
}
.qui .square-background {
  background-color: #d60000;
  padding: 0.2em;
  border-radius: 1em;
  font-size: 0em;
}
.qui-multi-select-button {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.2em;
}
.qui-multi-select-button .qui.float-none {
  overflow: unset;
}
.qui-multi-select-button-container .qui-label {
  margin-bottom: 0;
}
.qui .qui-caption {
  margin-top: 0;
}
.qui .qui-multi-select-button-container .qui-button button {
  margin: 0 0.5em;
  width: 13em;
  padding: 0.5em;
}
@media only screen and (min-width: 320px) {
  .qui .qui-multi-select-button-container .qui-button button {
    margin: 0 0.5em;
    width: 13em;
    padding: 0.38em;
  }
}
@media only screen and (min-width: 481px) {
  .qui .qui-multi-select-button-container .qui-button button {
    margin: 0 0.5em;
    width: 19em;
  }
}
@media only screen and (min-width: 769px) {
  .qui .qui-multi-select-button-container .qui-button button {
    margin: 0 0.5em;
    width: 25em;
    padding: 0.8em;
  }
}
@media only screen and (min-width: 1024px) {
  .qui .qui-multi-select-button-container .qui-button button {
    margin: 0 0.5em;
    width: 25em;
  }
}
.MuiCheckbox-root{
  color: greenyellow;
  
}