.qui .qui-backbar {
  background-color: #222a35;
  padding: 0.5em 1em;
  text-align: center;
  border-radius: 20px;
}
.qui .qui-circular.qui-backbar {
  border-radius: 1em;
}
.qui-icon {
  display: flex;
  justify-content: space-around;
}

.qui button {
  border: none;
}
// .qui .btn:hover {
//   border: 1px solid rgb(25, 168, 216);
// }

@media screen and (min-width: 320px) {
  .qui .pad-normal {
    padding: 0.32em;
  }
}
