
.qui button{
   border: none;
}   

.qui .qui-icon-label {
  font-weight:normal;
}

.qui .qui-icon-caption {
  font-style: normal;
}

.qui .backbar{
  background-color: black;
  opacity:.7;
  padding: 25px;
} 