
.qui .is-circular{
  border-radius: 50%;
  padding: 8px;
}

.qui .is-circular.size-big,
.qui .is-circular.size-huge,
.qui .is-circular.size-massive {
  padding: 16px;

}

.qui button{
   border: none;
}   

.qui .qui-icon-label {
  font-weight:normal;
}

.qui .qui-icon-caption {
  font-style: normal;
}

.qui .backbar{
  background-color: black;
  opacity:.8;
  padding: 30px;
  text-align: center;
  border-radius: 20px;
  width: auto;
}


.qui .qui-icon-label {
  font-weight:normal;
}

.qui .qui-icon-caption {
  font-style: normal;
}

.flex{
  display: flex;
}

.qui .border:hover{
  border:.1px solid blue;
  
}

.qui .pad-normal{
  padding: 0px;
}
