.qui .qui-slide-choice-card {
  min-height: 30em;
  background-color: #ffffff;
  padding: 1.5em;
  border-radius: 1em;

  .qui-banner-card {
    box-shadow: 0px 4px 5px 1px #918686;
    border-radius: 1em;
  }

  .qui-title-block {
    min-width: 12em;
    min-height: 10em;
  }

  .qui-title {
    font-size: 1.5em;
    padding: 0 0 0.2em 0;
  }

  .qui-sub-title {
    font-size: 1em;
  }

  .qui-slide-choice-question {
    margin-top: 1em;
  }

  .qui-slide-choice-answer {
    margin-bottom: 0.5em;
    font-weight: 530;
    font-size: 1.7em;
    letter-spacing: -0.05em;
    transform: scaleY(1.5);
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .qui-button button {
    margin: 1em 0.5em;
    width: 12em;
    padding: 0.5em;
  }

  .qui-input-field {
    margin: auto;
  }

  .qui-slide-choice-image {
    width: 100%;
    border-radius: 1em;
    max-height: 17em;
    filter: drop-shadow(0px 5px 2px #a09797);
  }
}

@media only screen and (min-width: 320px) {
  .qui .qui-slide-choice-question {
    font-size: 1.2em;
    width: auto;
  }

  .qui-slide-choices {
    font-size: 0.8em;
  }
}

@media only screen and (min-width: 481px) {
  .qui-slide-choice-question {
    font-size: 1.3em;
  }

  .qui .qui-slide-choice-card {
    width: 20em;
  }

  .qui-slide-choices {
    font-size: 0.9em;
  }
}

@media only screen and (min-width: 769px) {
  .qui .qui-slide-choice-question {
    font-size: 1.4em;
  }

  .qui .qui-slide-choice-card {
    width: 20em;
  }
}