.qui-leaderboard-row-parent-class {
    width: 100%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 5px 0;
}
.qui-leaderboard-row-container {
    display: flex;
    width: 100%;
    align-items: center;
    border-radius: 5px;
    font-size: 0.8em;
    justify-content: space-between;
}
.qui-leaderboard-row-position-container {
    min-width: 50px;
    display: flex;
    justify-content: center;
    height: 100%;
}
.qui-leaderboard-row-position {
    padding: 0.7em 0.5em;
    text-align: left;
}
.qui-leaderboard-row-name {
    padding: 0.7em 0.3em 0.7em 0;
    text-align: left;
    margin-right: 1.5em;
}
.qui-leaderboard-row-points {
    margin-right: 1.5em;
    text-align: right;
    padding: 0.7em 0.3em 0.7em 0;
    flex: 1;
}
.qui-leaderboard-row-medal {
    width: 30px;
    align-self: flex-start;
}
