$image-width: 80%;
$image-height: 14rem;
$white-color:#ffffff;
$black-color:#000000;
$position: absolute;


.img-carousel-active {
    width: $image-width;
    height: $image-height;
    overflow: hidden;
    margin: auto;
}

#btn-next-icon {
    right: 16px;
    position: $position;
    transform: translate(0, -50%);
    margin-top: -25%;
    color: $black-color;
    background-color: $white-color;
    min-width: 25px;
    height: 25px;
    border-radius: 31px;
    padding: 0;
}

#btn-prev-icon {
    left: 16px;
    position: $position;
    transform: translate(0, -50%);
    margin-top: -25%;
    color: $black-color;
    background-color: $white-color;
    min-width: 25px;
    height: 25px;
    border-radius: 31px;
    padding: 0;
}

#icon {
    font-size: 0.8em;
}

.qui .qui-slider-card {
    height: 237px;
    background-color: transparent;
    border-radius: 15px;
}

.qui .qui-slider-card-box {
    background-color: #e10f0f;
    color: #ffffff;
    height: 41%;
    width: 34%;
    position: relative;
    top: 50%;
    font-size: 12px;
}

.qui.qui-slide {
    align-items: center;
    margin: 0 auto;
    z-index: 1;
  }
  
  .qui .qui-slide {
    transform: scale(0.9);
    transition: transform 300ms;
    opacity: 0.5;
    z-index: -1;
  }
  
  .qui .qui-activeSlide {
    transform: scale(1);
    align-items: center;
    opacity: 1;
  }

@media only screen and (orientation: portrait) and (max-width: 1024px) {
    .qui .qui-slider-card {
        height: 190px;
        background-color: transparent;
    }
    .qui .qui-slider-card-box {
        height: 32%;
        width: 67%;
        position: relative;
        top: 59%;
    }
}