$image-width: 80%;
$image-height: 14rem;
$white-color:#ffffff;
$black-color:#000000;
$position: absolute;


.img-carousel-active {
    width: $image-width;
    height: $image-height;
    overflow: hidden;
    margin: auto;
}

#btn-next-icon {
    right: 16px;
    position: $position;
    transform: translate(0, -50%);
    margin-top: -25%;
    color: $black-color;
    background-color: $white-color;
    min-width: 25px;
    height: 25px;
    border-radius: 31px;
    padding: 0;
}

#btn-prev-icon {
    left: 16px;
    position: $position;
    transform: translate(0, -50%);
    margin-top: -25%;
    color: $black-color;
    background-color: $white-color;
    min-width: 25px;
    height: 25px;
    border-radius: 31px;
    padding: 0;
}

#icon {
    font-size: 0.8em;
}

.qui .qui-slider-card {
    height: 237px;
    background-color: transparent;
    border-radius: 15px;
}

.qui .qui-slider-card-box {
    color: #ffffff;
    height: 41%;
    width: 32%;
    position: relative;
    top: 50%;
    font-size: 15px;
    text-align: left;
    opacity: 0.9;

    .qui-slider-box-content {
        padding: 5px;
    }

    b {
        font-size: 20px;
    }

    .line-clamp {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

}

.qui-slider-label {
    background-color: #e10f0f;
    color: #ffffff;
    height: 20%;
    width: 28%;
    position: absolute;
    font-size: 12px;
    right: 0;
    transform: translate(63px, -87px) rotate(30deg);
}

.qui .qui-label-text {
    padding: 17px 0;
    font-size: 1em;
    justify-content: center;
    font-weight: bold;
}

.qui .qui-slide {
    align-items: center;
    margin: 0 auto;
    z-index: 1;
    transform: scale(0.9);
    transition: transform 300ms;
    opacity: 0.5;
    z-index: -1;
    width: 1000px;
}

.qui .qui-activeSlide {
    transform: scale(1);
    align-items: center;
    opacity: 1;
}

@media only screen and (orientation: portrait) and (max-width: 1024px) {

    .qui .qui-slide {
        width: 320px;
    }

    .qui .qui-slider-card {
        height: 190px;
        background-color: transparent;
    }

    .qui .qui-slider-card-box {
        height: 32%;
        width: 60%;
        position: relative;
        top: 54%;
        font-size: 12px;

        b {
            font-size: 16px;
        }

        .line-clamp {
            -webkit-line-clamp: 2;
        }
    }

    .qui-slider-label {
        width: 76%;
        transform: translate(46px, -65px) rotate(30deg);
    }

    .qui .qui-label-text {
        padding: 12px 0;
        margin-left: 60px;
    }

}