/* ================================================= */
/* SliderHeader Definitions */
/* ================================================= */
.qui .qui-title-block {
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 17em;
  min-height: 40vh;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom: 0.6em solid;
  display: flex;
  flex-direction: column;
  h4 {
    margin: 0;
  }
  h6 {
    margin: 0;
  }
}

.qui .qui-title {
  padding: 0.5em;
  display: table-cell;
  vertical-align: middle;
  width: 90%;
  font-weight: bold;
}

.qui .qui-sub-title {
  width: 90%;
  line-height: 1em;
  letter-spacing: -0.02em;
  margin-bottom: 0.5em;
}
/* ================================================= */
/* Styling Definitions for different resolution */
/* ================================================= */
@media screen and (min-width: 320px) {
  .qui .qui-title-block {
    min-width: 17em;
  }
}
@media screen and (min-width: 481px) {
  .qui .qui-title-block {
    min-width: 30em;
  }
}
@media screen and (min-width: 769px) {
  .qui .qui-title-block {
    min-width: 40em;
  }
}
@media screen and (min-width: 1024px) {
  .qui .qui-title-block {
    min-width: 45em;
  }
}
