.qui .qui-card {
    border-radius:10px;
    box-shadow: 0px 10px 10px rgb(192, 192, 192);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(223, 215, 215);
    margin: 20px;
    height: 25em;
   
}
.qui .lower-div {
    margin-top: 20px;
    width: 100%;
    background-color: rgb(223, 215, 215);
    display: flex;
    flex-direction: row;
}

.qui .cross-icon {
    position: absolute;
    right: 10%;
    top: 7%;
    
}
.qui .qui-icon-caption {
    font-style: normal;
   font-size:10px;
}
.qui .qui-inner-button {
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 16px;
    width: 5em;
    display:flex;
    align-items: center;
    justify-content: center;
}

.qui .av-contain {
    border-radius: 10px;
    width: 100%; 
    background-color: rgb(238, 233, 226);
    display: flex;
    justify-content: center

}
.caption{
    font-weight: bold;
    text-decoration: none;
}


/* ================================================= */
/* Font Size Definitions */
/* ================================================= */
.qui .size-massive {
    font-size: 1em;
    line-height: 1;
    font-weight: bold;
}
.qui .size-huge {
    font-size: 0.95em;
    line-height: 1.2;
}
.qui .size-big {
    font-size: 0.9em;
    line-height: 1.2;
}
.qui .size-normal {
    font-size: 0.8em;
    line-height: 1.2;
}
.qui .size-small {
    font-size: 0.7em;
    line-height: 1.2;
}
.qui .lower-div .size-tiny {
    font-size: 1em;
    line-height: 1.2;
}

/* ================================================= */
/* Padding Definitions */
/* ================================================= */
.qui .lower-div .qui-btn.pad-fitted {
    padding: 2px 4px;
    font-size:1em;
    
}
.qui .lower-div .qui-btn.pad-compact {
    padding: 4px 8px;
    font-size:1.5em;
}
.qui .lower-div .qui-btn.qui-link.pad-normal {
    padding: 6px 12px;
    font-size:2em;
}
.qui .lower-div .qui-btn.pad-relaxed,
.qui .lower-div .qui-btn.pad-normal.size-huge,
.qui .lower-div .qui-btn.pad-normal.size-massive {
    padding: 10px 20px;
    font-size:1.7em;

}
.qui .lower-div .qui-btn.pad-relaxed.size-huge,
.qui .lower-div .qui-btn.pad-relaxed.size-massive {
    padding: 15px 30px;
    font-size:1.7em;

}


.qui .qui-avatarContainer{
    z-index: 2;
    transform: translateX(0%);
}

.qui-appMenuContainer{
    filter: drop-shadow(5px 5px 2px rgb(194, 194, 194));
    margin: 20px;
}
