.qui .qui-card {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(246, 246, 246, 1);
    margin: 2em 1px;
    min-height: 25em;
}



.qui .lower-div {
    padding:1.5em;
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    align-items: center;
    height: auto;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius:10px ;
    
}

.qui .cross-icon {
    position: absolute;
    right: 7%;
    top: 10%;
    font-size:1.2em;
    
}
.container{
    justify-content: center;
}
.qui .qui-inner-button {
    border-radius: 10px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* ================================================= */
/* ProfileIcon Size Definitions */
/* ================================================= */

.qui .qui-profileAvatar .qui-container.qui-icon-container.size-tiny {
    height: 5.5em;
    width: 5.5em;
}

.qui .qui-profileAvatar .qui-container.qui-icon-container.size-small {
    height: 6em;
    width: 6em;
}
.qui .qui-profileAvatar .qui-container.qui-icon-container.size-normal {
    height: 6em;
    width: 6em;
}

.qui .qui-profileAvatar .qui-container.qui-icon-container.size-big {
    height: 6em;
    width: 6em;
}

.qui .qui-profileAvatar .qui-container.qui-icon-container.size-huge {
    height: 6em;
    width: 6em;
}

.qui .qui-profileAvatar .qui-container.qui-icon-container.size-massive {
    height: 6em;
    width: 6em;
}

/* ================================================= */
/* profileCaption Size Definitions */
/* ================================================= */

.qui .qui-profileContainer .qui-profileCaption {
    &.size-tiny {
        font-size: 0.7em;
        padding:0.5em;
    }
    &.size-small {
        font-size: 0.5em;
        padding:0.5em;
    }
    &.size-normal {
        font-size: 0.7em;
        padding:0.5em;
    }
    &.size-big {
        font-size: 0.9em;
        padding:0.5em;
    }
    &.size-huge {
        font-size: 1.2em;
        padding:0.5em;
    }
    &.size-massive {
        font-size: 1.5em;
        padding:0.5em;
    }
}

/* ================================================= */
/* Button Size Definitions */
/* ================================================= */

.qui .qui-inner-button {
    &.size-tiny {
        padding:1.2em 0.2em;
    }
    &.size-small {
        padding:1.2em 0.2em;
    }
    &.size-normal {
        padding:1em 0.2em;
    }
    &.size-big {
        padding:1.2em 0.2em;
    }
    &.size-huge {
        padding:1.2em 0.2em;
    }
    &.size-massive {
        padding:1.2em 0.2em;
    }
}

/* ================================================= */
/* Button icon Size Definitions */
/* ================================================= */

.qui .qui-inner-button button {
    &.size-tiny {
        font-size: 1em;
        padding: 0.4em;
    }
    &.size-small {
        font-size: 0.9em;
        padding: 0.2em;
    }
    &.size-normal {
        font-size: 0.7em;
    }
    &.size-big {
        font-size: 0.5em;
        padding: 0.1em;
    }
    &.size-huge {
        font-size: 0.6em;
        padding: 0.1em;
    }
    &.size-massive {
        font-size: 0.4em;
        padding: 0.1em;
    }
}

/* ================================================= */
/* ButtonCaption Size Definitions */
/* ================================================= */

.qui .qui-inner-button .qui-icon-caption {
    &.size-tiny {
        font-size:0.8em;
    }
    &.size-small {
        font-size: 0.9em;
    }
    &.size-normal {
        font-size: 0.7em;
    }
    &.size-big {
        font-size: 0.6em;
    }
    &.size-huge {
        font-size: 0.6em;
    }
    &.size-massive {
        font-size: 0.4em;
    }
}

.qui .av-contain {
    border-radius: 10px;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
}

.qui .qui-profileCaption {
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
}

.qui .qui-profileAvatar .qui-avatarContainer {
    z-index: 2;
    transform: translateX(0%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qui-profileContainer{
    margin: 0.5em 0 0.5em 0;
}