.qui .qui-card {
    border-radius: 10px;
    align-items: center;
    background-color: rgba(246, 246, 246, 1);
    margin: 2em 1px;
    min-height: 25em;
}



.qui .lower-div {
    padding:1.5em;
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: stretch;
    align-items: center;
    height: auto;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius:10px ;
    
}

.qui .cross-icon {
    position: absolute;
    right: 7%;
    top: 10%;
    font-size:1.2em;
    
}
.qui .qui-inner-button {
    border-radius: 10px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.qui .qui-inner-button .qui-icon-label {
    font-weight: bold;
}



/* ================================================= */
/* Media Queries  Size Definitions */
/* ================================================= */


@media only screen and (min-width: 320px){
    .qui .qui-inner-button.size-tiny{
        height: 22vw;  
        width:22vw;      
    }
    .qui .qui-inner-button.size-small{
        height: 23vw;  
        width:23vw;      
    }
    .qui .qui-inner-button.size-normal{
        height: 24vw;  
        width:24vw;      
    }
    .qui .qui-inner-button.size-big{
        height: 25vw;  
        width:25vw;      
    }
    .qui .qui-inner-button.size-huge{
        height: 26vw;  
        width:26vw;      
    }
    .qui .qui-inner-button.size-massive{
        height: 27vw;  
        width:27vw;      
    }

    .qui .qui-profileAvatar .qui-container.qui-icon-container{
        height: 5.5em;
        width: 5.5em;
    }

    .qui .qui-profileContainer .qui-profileCaption{
        font-size:0.7em;
        padding:0.5em;
    }
}
@media only screen and (min-width: 481px) {
    .qui .qui-inner-button.size-tiny{
        height: 22vw;  
        width:22vw;      
    }
    .qui .qui-inner-button.size-small{
        height: 23vw;  
        width:23vw;      
    }
    .qui .qui-inner-button.size-normal{
        height: 26vw;  
        width:26vw;      
    }
    .qui .qui-inner-button.size-big{
        height: 25vw;  
        width:25vw;      
    }
    .qui .qui-inner-button.size-huge{
        height: 26vw;  
        width:26vw;      
    }
    .qui .qui-inner-button.size-massive{
        height: 27vw;  
        width:27vw;      
    }
    .qui .qui-profileAvatar .qui-container.qui-icon-container{
        height: 8.5em;
        width: 8.5em;
    }
    .qui .qui-profileContainer .qui-profileCaption{
        font-size:1em;
        padding:0.5em;
    }
}
@media only screen and (min-width: 769px) {
    // .qui .qui-inner-button{
    //     height:28vw;  
    //     width:28vw;
    //     padding: 0px;     
    // }
    .qui .qui-profileAvatar .qui-container.qui-icon-container{
        height: 10em;
        width: 10em;
    }
    .qui .qui-profileContainer .qui-profileCaption{
        font-size:1.2em;
        padding:0.5em;
    }
}
@media only screen and (min-width: 1024px) {
    // .qui .qui-inner-button{
    //     height:29vw;  
    //     width:29vw;          
    // }
    .qui .qui-profileAvatar .qui-container.qui-icon-container{
        height: 15em;
        width: 15em;
    }
    .qui .qui-profileContainer .qui-profileCaption{
        font-size:2em;
        padding:0.5em;
    }
}

.qui .av-contain {
    border-radius: 10px;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
}

.qui .qui-profileCaption {
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
}

.qui .qui-profileAvatar .qui-avatarContainer {
    z-index: 2;
    transform: translateX(0%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qui-profileContainer{
    margin: 0.5em 0 0.5em 0;
}