/* ================================================= */
/* OTPFields Container Definitions */
/* ================================================= */
.qui .qui-otp-fields-container {
  width: auto;
  .qui-otp-fields-otp-input-style {
    width: 1.5em;
    height: 1em;
    text-align: center;
    font-size: 1.2em;
    font-weight: 100;
    padding: 0.2em 0.2em 0.1em;
    margin: 0 0.1em;
    background-color: #4545453b;
    border-color: #8c8c898c;
    border: none;
    border-bottom: 0.2em solid #8c8c898c;
    border-radius: 0.3em 0.3em 0em 0em;
  }
  .qui-otp-fields-otp-input-style:focus {
    outline: none;
    border-bottom: 0.2em solid;
  }
  /* Chrome, Safari, Edge, Opera */
  .qui-otp-fields-otp-input-style::-webkit-outer-spin-button,
  .qui-otp-fields-otp-input-style::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  .qui-otp-fields-otp-input-style[type="number"] {
    -moz-appearance: textfield;
  }
}
