/* ================================================= */
/* OTPFields Container Definitions */
/* ================================================= */
.qui .qui-otp-fields-container {
  width: auto;
  .qui-otp-fields-otp-input-container-style {
    display: flex;
    justify-content: center;
    gap: 0.4em;
  }
  .qui-otp-fields-otp-input-style {
    font-size: 1.2em;
    height: 1em;
    font-weight: 100;
    padding: 0.2em 0.3em 0.1em;
    background-color: #4545453b;
    border-color: #8c8c898c;
    border: none;
    border-bottom: 0.2em solid #8c8c898c;
    border-radius: 0.3em 0.3em 0em 0em;
  }
}
