.qui-deckcard {
  background-color: #ffffff;
  border-radius: 2em;
  box-shadow: 0px 10px 20px #d2d2d2;
  display: flex;
  padding: 1em;
  margin-bottom: 1em;
}
.qui .qui-left {
  width: 20%;
  padding: 0;
  margin: 0;
}
.qui .qui-middle {
  width: 65%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
}
.qui .qui-right {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.qui .image {
  height: 3em;
  width: 3em;
}
.qui .gamepad {
  height: 2.5em;
  width: 2.5em;
  padding: 0;
  margin-bottom: -.25em;
}
.qui .qui-course-title {
  display: flex;
  text-align: left;
  justify-content: left;
}
.qui .qui-course-title h1 {
  margin-top: 5px;
  font-weight: 200;
  overflow: hidden;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  transform: scale(1, 1.5);
}
.qui .qui-description h3 {
  color: black;
  text-align: left;
  margin-top: -0.1em;
  font-weight: 100;
  overflow: hidden;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}
.qui .fa-check-square {
  filter: drop-shadow(0px 0px 0px #ffffff);
  box-shadow: none;
}
.qui .banner {
  text-align: right;
  margin: 0.2em 0em;
  height: 100%;
  width: 0.5em;
}
.qui .qui-right i {
  font-size: 2.5em;
}
.qui-deckcard-label .qui-ribbon-container {
  height: 9em;
  width: 9em;
  z-index: 10;
  position: absolute;
}

@media only screen and (min-width: 320px) {
  .qui-deckcard {
    font-size: 0.65em;
  }
  .qui .image {
    height: 8em;
    width: 8em;
    border-radius: 1em;
  }
  .qui .qui-middle {
    padding-left: 3.2em;
    padding-right: 0em;
  }
  .qui-ribbon-container {
    font-size: 0.6em;
  }
}

@media only screen and (min-width: 481px) {
  .qui-deckcard {
    font-size: .8em;
  }
  .qui .image {
    height: 9em;
    width: 9em;
  }
  .qui-ribbon-container {
    font-size: 0.8em;
  }
}

@media only screen and (min-width: 769px) {
  .qui-deckcard {
    font-size: 1em;
  }
  .qui .image {
    height: 10em;
    width: 10em;
  }
  .qui-ribbon-container {
    font-size: 1em;
  }
}
