/* ================================================= */
/* Image Size Definitions */
/* ================================================= */
.qui .qui-image.size-massive {
    height: 50%;
    width: 45%;
  }
  .qui .qui-image.size-huge {
    height: 45%;
    width: 40%;
  }
  .qui .qui-image.size-big {
    height: 40%;
    width: 35%
  }
  .qui .qui-image.size-normal {
    height: 35%;
    width: 30%
  }
  .qui .qui-image.size-small {
    height: 30%;
    width: 25%
  }
  .qui .qui-image.size-tiny {
    height: 25%;
    width: 20%
  }
  