.qui .qui-certificate-card {
  border-radius: 5%;
  box-shadow: 0px 10px 10px rgb(192, 192, 192);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 10% 0;
  margin: 20px;
}

.qui .qui-header {
  display: flex;
  justify-content: center;
  width: 80%;
}

.qui .qui-imageCard {
  width: 80%;
  border-radius: 5%;
}

.qui .qui-imageCard img {
  border-radius: 5%;
  box-shadow: 0px 10px 10px rgb(192, 192, 192);
  width: 100%;
}

.qui .qui-certificateImage {
  width: 100%;
}

.qui .qui-colorBanner {
  width: 1em;
}

.qui .qui-courseHeader {
  width: 100%;
  display: flex;
  margin: 7% 0 7% 5%;
  text-align: left;
  align-items: center;
}

.qui .qui-courseHeader p {
  margin: 0;
  font-size: 6em;
  margin-left: 0.5em;
}

.qui .qui-status {
  border-radius: 5%;
  background: #eeeeee;
  padding: 20% 0%;
  width: 100%;
  box-shadow: 0px 10px 10px rgb(192, 192, 192);
}

.qui .qui-status p {
  font-size: 5em;
  margin: 0 0 2% 0;
}

.qui .qui-status i {
  font-size: 10em;
  -webkit-text-stroke: 8px #eeeeee;
}

.qui .qui-icon-rotate {
  transform: rotate(180deg);
}

@media screen and (min-width: 320px) {
  .qui .qui-courseHeader p {
    font-size: 1em;
  }
  .qui .qui-colorBanner {
    width: 0.5em;
  }
  .qui .qui-status p {
    font-size: 1em;
  }
  .qui .qui-header {
    padding: 0 0 1em 0;
  }
  .qui .qui-status i {
    font-size: 3em;
    -webkit-text-stroke: 3px #eeeeee;
  }
}

@media screen and (min-width: 401px) {
  .qui .qui-courseHeader p {
    font-size: 1.5em;
  }
  .qui .qui-status p {
    font-size: 1.5em;
  }
  .qui .qui-header {
    padding: 0 0 2em 0;
  }
  .qui .qui-status i {
    font-size: 4em;
    -webkit-text-stroke: 4px #eeeeee;
  }
  .qui .qui-colorBanner {
    width: 0.5em;
  }
}

@media screen and (min-width: 769px) {
  .qui .qui-courseHeader p {
    font-size: 3.5em;
  }
  .qui .qui-status p {
    font-size: 3em;
  }
  .qui .qui-header {
    padding: 0 0 2em 0;
  }
  .qui .qui-status i {
    font-size: 5em;
    -webkit-text-stroke: 5px #eeeeee;
  }
  .qui .qui-colorBanner {
    width: 0.75em;
  }
}
@media screen and (min-width: 900px) {
  .qui .qui-courseHeader p {
    font-size: 4.5em;
  }
  .qui .qui-status p {
    font-size: 4em;
  }
  .qui .qui-header {
    padding: 0 0 3em 0;
  }
  .qui .qui-status i {
    font-size: 6em;
    -webkit-text-stroke: 6px #eeeeee;
  }
  .qui .qui-colorBanner {
    width: 1em;
  }
}
@media screen and (min-width: 1100px) {
  .qui .qui-courseHeader p {
    font-size: 7em;
  }
  .qui .qui-status p {
    font-size: 7em;
  }
  .qui .qui-header {
    padding: 0 0 3em 0;
  }
  .qui .qui-status i {
    font-size: 15em;
    -webkit-text-stroke: 15px #eeeeee;
  }
  .qui .qui-colorBanner {
    width: 1em;
  }
}
