.qui .qui-option-item-seven-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}
.qui.qui-option-item-seven .qui-char-limit-max-length {
  font-size: 0.65em;
}
.qui .qui-option-item-seven-radio {
  min-width: 6em;
}
.qui .qui-option-item-seven-container .qui-optional-image-field-button {
  padding: 0.5em;
  font-size: 0.8em;
}
.qui .qui-option-item-seven-container .qui-optional-image-field-icon {
  padding: 0.04em 0.2em;
}
.qui.qui-option-item-seven .qui.qui-optional-image-field {
  font-size: 1em;
}
.qui .qui-option-item-seven-close-icon {
  width: 2em;
  font-size: 1.2em;
  color: #a8a8a8;
  margin-left: 0.25em;
}
.qui .qui-option-item-seven-icon {
  cursor: pointer;
}
.qui.qui-option-item-seven .qui-input-field {
  text-indent: 0;
}
.qui .qui-option-item-seven-container .qui-option-item-upload-button {
  min-width: 8em;
}

@media only screen and (min-width: 320px) {
  .qui .qui-option-item-radio-container {
    min-width: 3.5em;
  }
  .qui .qui-option-item-radio-container .MuiTypography-root.css-ahj2mt-MuiTypography-root {
    display: none;
  }
}

@media only screen and (min-width: 769px) {
  .qui .qui-option-item-radio-container {
    min-width: 8em;
  }
  .qui .qui-option-item-radio-container .MuiTypography-root.css-ahj2mt-MuiTypography-root {
    display: block;
  }
}
