.qui .qui-menuBlock {
  border-top-right-radius: 1.5em ;
  border-top-left-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
  border-bottom-left-radius: 1.5em; 
}
.qui-catalog{
  display: flex;
  // padding-right:2.4em; 
  // padding-left:0.5em;
}
// .qui-labeql{
//   padding:10em;
//   // justify-content:space-between;
// }
.qui-iconContainer {
  display:flex;
  align-items:center;
  // justify-content: flex-end;
  // justify-items: auto;
  height:100%;
  // width:8em;
  // margin-right:0.6em;
  padding-right:1em;
}
.qui .qui-container.size-tiny.qui-menuBlock {
  height: 2em;
  // min-width: 3.5em;
}
.qui .qui-container.size-small.qui-menuBlock {
  height: 2.5em;
  // min-width: 4em;
}
.qui .qui-container.size-normal.qui-menuBlock {
  height: 3em;
  // min-width: 5em;
}
.qui .qui-container.size-big.qui-menuBlock {
  height: 3.5em;
  // min-width: 5.55em;
}
.qui .qui-container.size-huge.qui-menuBlock {
  height: 4em;
  // min-width: 6em;
}
.qui .qui-container.size-massive.qui-menuBlock {
  height: 5em;
  min-width: 7.75em;
}
.float{
  filter: drop-shadow(5px 5px 2px rgb(194, 194, 194));
    // margin:1em;
}

.qui-main-container .qui-iconContainer {
  padding: 0;
}