.qui .qui-menu-block-container {
  border-top-right-radius: 1.5em;
  border-top-left-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
  border-bottom-left-radius: 1.5em;
}

.qui-menu-block-icon-container {
  display: flex;
  align-items: center;
  height: 100%;
  padding-right: 1em;
}

.qui .qui-menu-block-label {
  display: flex;
  padding-left: 1em;
}

.qui .qui-menu-block-seperator {
  margin-right: 0.5em;
}

.qui-app-menu-container .qui-app-menu-icon-container {
  padding: 0;
}
