.qui .qui-menuBlock{

    border-top-right-radius: 20% 30%;
    border-top-left-radius: 20% 30%;
    border-bottom-right-radius: 20% 30%;
    border-bottom-left-radius: 20% 30%;
   
}

.qui-iconContainer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    padding-right: 0.5em;
}

.qui-container.size-tiny.qui-menuBlock{
    height: 2em;
    min-width:3.5em;
    
}
.qui-container.size-small.qui-menuBlock{
    height: 2.5em;
    min-width:4em;
}
.qui-container.size-normal.qui-menuBlock{
    height: 3em;
    min-width: 5em;
}
.qui-container.size-big.qui-menuBlock{
    height: 3.5em;
    min-width:5.55em;
}
.qui-container.size-huge.qui-menuBlock{
    height: 4em;
    min-width: 6em;
}
.qui-container.size-massive.qui-menuBlock{
    height: 5em;
    min-width:7.75em;
}