.qui.qui-segment {
  background-color: #efefef;
}

.qui.qui-segment.is-circular {
  border-radius: 1em;
}

.qui.qui-segment.is-top-circular {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.qui.qui-segment.is-bottom-circular {
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}