.qui-confirmation-overlay-container {
  border-radius: 5px;
  background: #efefef;
  color: #666666;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 287px;
  height: 10em;
  text-align: center;
  padding: 0 2%;

  .qui-overlay-header {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 0 1%;
  }

  .qui-confirmation-overlay-group {
    position: relative;

    .qui-button {
      padding: 0 2px;
    }
  }
}
