.qui-slide-container {
  width: 99%;
}

.qui-slide {
  height: 40vh;
  width: 99%;
  margin: 0px 1px;

  &.deactive-card {
    transform: scaleY(0.9);
  }
}

@media only screen and (orientation: portrait) and (max-width: 1024px) {
  .qui-slide-container {
    height: 22vh;
  }
}

.slick-dots li button:before {
  font-size: 9px;
}

.slick-dots li.slick-active button:before {
  font-size: 12px;
  color: #a6a6a6;
}
