.qui-SquareWrapper-carousel {
  overflow: inherit;
}



.qui .qui-SquareWrapper-slide .qui-checkbox i {
  position: absolute;
  bottom: 18%;
  right: 0%;
  left: 0%;
  margin: auto;
  font-size: 1.2em;
}
.qui-SquareWrapper-carousel .qui-SquareWrapper-slide-container {
  margin-top: 2em;
}
.qui-SquareWrapper-carousel .qui-SquareWrapper-slide {
  position: relative;
}
.qui-SquareWrapper-carousel .qui-slider-card-box {
  display: none;
}
.qui-SquareWrapper-carousel .slick-slide {
  .qui-card-label {
    display: none;
  }
  &.slick-active {
    transform: scaleY(1);
    .qui-slider-card-box {
      display: inline-block;
    }
    .qui-card-label {
      display: inline;
    }
  }
}

@media only screen and (min-width: 320px) {
  .qui-SquareWrapper-slide-container .qui-SquareWrapper-slide .qui-banner-card {
    display: inline-block;
    font-size: 0.75em;
    width: 100%;
    padding-bottom:100%;
    border-radius: 1.5em;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:  0px 0px 0px 0px #666666;
  }
  .qui-SquareWrapper-slide-container .qui-banner-card .qui-slider-card-box {
    position: absolute;
    font-size: 1em;
    max-width: 70%;
    text-align: -webkit-center;
    margin: auto;
    left: 0%;
    right: 0%;
    bottom: 0%;
    opacity: 0.9;
    padding: 0.5em 1em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 0em;
  }
  .qui-SquareWrapper-slide-container .qui-banner-card .qui-slider-card-box-header {
    text-align: center;
  }
  .qui-SquareWrapper-carousel .slick-dots li button:before {
    font-size: 9px;
  }
  .qui-SquareWrapper-carousel .slick-dots li.slick-active button:before {
    font-size: 12px;
    color: #48b41e;
  }
  .qui-SquareWrapper-carousel .slick-dots li {
    margin: 0 -4px;
  }
  .qui-SquareWrapper-carousel .slick-dots {
    bottom: -34px;
    left: 0%;
    right: 0%;
    margin: auto;
    width: fit-content;
  }

  .qui-mid-circle {
    width: 70px;
    height: 35px; /* as the half of the width */
    background-color: gold;
    border-top-left-radius: 100px; /* 100px of height + 10px of border */
    border-top-right-radius: 100px; /* 100px of height + 10px of border */
    border-bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    margin: auto;
    z-index: 1;
  }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 30px;
    line-height: 1;
    opacity: 0.75;
    color: #16c59f;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .slick-next {
    right: 5%;
  }
  .slick-prev {
    left: 1%;
  }
  .slick-prev,
  .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 104%;
    display: block;
    padding: 0;
    cursor: grab;
    color: rgb(153, 22, 22);
    border: none;
    outline: none;
    background: transparent;
  }
}

@media only screen and (min-width: 481px) {
  .qui-SquareWrapper-slide-container .qui-banner-card .qui-slider-card-box-header {
    text-align: center;
    font-size: 1.5em;
  }

  .qui-SquareWrapper-slide-container .qui-ribbon-container {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: capitalize;
  }
  .qui-SquareWrapper-slide .qui-mid-circle {
    width: 100px;
    height: 50px; /* as the half of the width */
    background-color: gold;
    border-top-left-radius: 100px; /* 100px of height + 10px of border */
    border-top-right-radius: 100px; /* 100px of height + 10px of border */
    border-bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 47px;
    margin: auto;
    z-index: 1;
  }
}

@media only screen and (min-width: 769px) {
  .qui-SquareWrapper-slide-container .qui-banner-card .qui-slider-card-box-header {
    text-align: center;
    font-size: 1.7em;
  }

  .qui-SquareWrapper-slide-container .qui-ribbon-container {
    font-size: 1.7em;
    font-weight: bold;
    text-transform: capitalize;
  }
  .qui-SquareWrapper-slide .qui-mid-circle {
    width: 110px;
    height: 55px; /* as the half of the width */
    background-color: gold;
    border-top-left-radius: 100px; /* 100px of height + 10px of border */
    border-top-right-radius: 100px; /* 100px of height + 10px of border */
    border-bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 51px;
    margin: auto;
    z-index: 1;
  }
}
