$transition-duration: 0.8s;
$transition-easing: cubic-bezier(0.23, 1, 0.32, 1);
$bounce-easing: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$closed-width: 200px;
$closed-height: 80px;
$opened-width: 280px;
$opened-height: 140px;

.qui-fc-btn.is-open ~ .description {
  opacity: 0;
}

.qui-fc-btn-main {
  width: auto;
  margin: 0 auto;
  .qui-btn {
    padding: 0.7em 3em;
  }
}

.qui-fc-btn {
  position: relative;
  transition: width $transition-duration $transition-easing, height $transition-duration $transition-easing,
    transform $transition-duration $bounce-easing;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  text-align: center;
}

.qui-fc-btn.is-open .qui-fc-btn-front {
  pointer-events: none;
  line-height: $opened-height;
}

.qui-fc-btn-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #eee;
  color: #222;
  transform: translateZ(-2px) rotateX(180deg);
  overflow: hidden;
  transition: box-shadow $transition-duration ease;
}

.qui-fc-btn-back p {
  margin-top: 27px;
  margin-bottom: 25px;
}

.qui-fc-btn-back button {
  padding: 6px 12px;
  margin: 0 5px;
  font-size: 0.85em;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: background 0.15s ease;

  &:focus {
    outline: 0;
  }
}

.qui-fc-btn-back.is-enable {
  display: block;
}

.qui-fc-btn.is-open .fc-btn-back {
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
}

.qui-fc-btn[data-direction="left"] .qui-fc-btn-back,
.qui-fc-btn[data-direction="right"] .qui-fc-btn-back {
  transform: translateZ(-2px) rotateY(180deg);
}

.qui-fc-btn.is-open {
  width: $opened-width;
  height: $opened-height;
}

.qui-fc-btn[data-direction="top"].is-open {
  transform: rotateX(180deg);
}

.qui-fc-btn[data-direction="right"].is-open {
  transform: rotateY(180deg);
}

.qui-fc-btn[data-direction="bottom"].is-open {
  transform: rotateX(-180deg);
}

.qui-fc-btn[data-direction="left"].is-open {
  transform: rotateY(-180deg);
}
