.qui.qui-feedback {
  padding: 1.5em;
  border-radius: 1em;
  min-height: 30em;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;

  .qui-feedback-icon {
    border-radius: 50%;
    height: 2em;
    width: 2em;
    padding: 0.4em;
    font-size: 2.5em;
  }

  .qui-text-block-area {
    width: fit-content;
    background-color: transparent;
  }

  .qui-show-feedback {
    display: block;
  }

  .qui-hide-feedback {
    display: none;
  }

  .qui-feedback-button {
    margin-top: 3.5em;
  }

  .qui-feedback-text {
    padding: 0;
    margin-top: -4em;
    .qui-block-text {
      font-weight: normal;
    }
  }

  .qui-feedback-header {
    .qui-text-block-area {
      padding: 0;
    }

    .qui-block-text {
      padding: 0.5em;
    }
  }

  .qui-feedback-correct {
    background-color: #5dbb46;
    border: 0.1em solid #40831a;
    color: #ffffff;
  }

  .qui-feedback-incorrect {
    background-color: #dc2c29;
    border: 0.1em solid #b32111;
    color: #ffffff;
  }

  .qui-feedback-thank-you {
    background-color: #f6bd32;
    border: 0.1em solid #fdf841;
    color: #ffffff;
  }
}

@media only screen and (min-width: 320px) {
  .qui.qui-feedback {
    width: auto;
  }
}

@media only screen and (min-width: 481px) {
  .qui.qui-feedback {
    width: 20em;
  }
}
