.qui-nudge-modal-container {
  position: relative;
  background-color: #fff;
  padding: 2em;
  width: 50%;
  border-radius: 0.5em;
}

.qui-nudge-buttons {
  margin-top: 1em;
  display: flex;
  justify-content: flex-end;
}

.qui .qui-nudge-modal-container .MuiFilledInput-root:before {
    border-bottom: 1px solid #8c8c89;
}