.qui.qui-icon-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  .qui-btn {
    width: 5em;
    &.is-circular {
      border-radius: 10%;
    }
    &.is-circular.circular-without-label {
      border-radius: 50%;
      padding: 1em 0.3em;
    }
  }
  .qui-iconlink-anchor {
    text-decoration: none;
  }
  .tilt {
    transform: rotate(10deg);
    transition: all ease-in-out;
  }
  .qui-icon-label {
    font-weight: normal;
  }
  .qui-icon-caption {
    font-style: normal;
    margin-top: 0.3em;
  }
  .qui-iconlink-icon {
    font-size: 2.5em;
  }
}
