.qui .qui-iconlink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 3.5em;
  min-height: 3.5em;
}
.qui .qui-btn.is-circular {
  border-radius: 10%;
}
.qui .tilt {
  transform: rotate(10deg);
  transition: all ease-in-out;
}
.qui .qui-link {
  text-decoration: none;
}
.qui .qui-icon-label {
  font-weight: normal;
}
.qui .qui-icon-caption {
  font-style: normal;
}
.qui .qui-iconlink .qui-iconlink-icon {
  font-size: 2.5em;
}
.qui .size-huge.qui-iconlink {
  width: 3.2em;
}
.qui .size-massive.qui-iconlink {
  width: 3.5em;
}
.qui .qui-btn.is-circular.circular-without-label {
  border-radius: 50%;
}
