.qui-marker {
  .qui-marker-text {
    position: absolute;
    width: 5em;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-2.5em, -2.4em);
    z-index: 1;
    font-weight: bolder;
  }

  .qui-marker-style {
    position: absolute;
    transform: translate(-1.5em, -4em);
    z-index: 1;
  }

  .qui-marker-img {
    width: 3.5em;
    height: 3.5em;
  }
}