/* ================================================= */
/* AccentLine Container Definitions */
/* ================================================= */
.qui .qui-accentline-container {
    height: 100%;
    width: 100%;
}

.qui .qui-accentline {
    width: 15em;
    border-bottom: 0.5em solid;
}
