/* ================================================= */
/* PageHeader Definitions */
/* ================================================= */
.qui .qui-page-header-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.qui .qui-page-header-label {
    width: 100%;
    font-size: 2em;
}
