.qui .qui-calendar-container {
    .react-calendar {
        background-color: #454545;
        color: #E9F1F7;
        border-radius: 1em;
        padding: 1em;

        .react-calendar__navigation__next2-button,
        .react-calendar__navigation__prev2-button {
            display: none;
        }

        button {
            padding: 0.8em;
            font-size: 1em;
            color: #E9F1F7;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .react-calendar__tile--now {
            background-color: #FFBF00;
            border-radius: 50%;
            padding: 0.8em;
        }

        button:hover {
            color: #121212;
        }
    }

    .react-calendar__month-view__weekdays abbr {
        text-decoration: none;
    }
}

@media only screen and (min-width: 320px) {
    .qui .qui-calendar-container {
        .react-calendar {
            max-width: 20em;
            font-size: 0.9em;
        }
    }
}

@media only screen and (min-width: 481px) {
    .qui .qui-calendar-container {
        .react-calendar {
            font-size: 1em;
        }
    }
}