.qui .qui-icon-bullet-list-card {
    background-color: #ffffff;
    padding: 1.5em;
    border-radius: 1em;
    .qui-icon-bullet-list-image {
        width: 100%;
        border-radius: 1em;
        max-height: 17em;
        filter: drop-shadow(0px 5px 2px #a09797);
    }
}
