/* ================================================= */
/* IconBulletlist Definitions */
/* ================================================= */
.qui.qui-icon-bullet-list {
    background-color: #ffffff;
    padding: 1.5em;
    border-radius: 1em;
    min-height: 30em;

    .qui .qui-title-block {
        min-width: 12em;
        min-height: 10em;
    }

    .qui .qui-title {
        font-size: 1.5em;
        padding: 0 0 0.2em 0;
    }

    .qui .qui-sub-title {
        font-size: 1em;
    }

    .qui-icon-bullet-list-image {
        width: 100%;
        border-radius: 1em;
        max-height: 15em;
        filter: drop-shadow(0px 5px 2px #a09797);
    }

    .qui-icon-bullet-list-text-block {
        padding: 1em 0 0.5em 0;
    }

    .qui-text-block-area {
        width: fit-content;
    }
}

.qui.qui-icon-bullet-list .qui-icon-list-item {
    margin: 1em 0.5em 0;
    font-size: 1em;
    width: fit-content;
}
/* ================================================= */
/* IconBulletlist Sizing Definitions */
/* ================================================= */
@media only screen and (min-width: 320px) {
    .qui.qui-icon-bullet-list {
        width: auto;

        .qui-icon-bullet-list {
            font-size: 1em;
            width: fit-content;
        }
    }
}
@media only screen and (min-width: 481px) {
    .qui.qui-icon-bullet-list {
        width: 20em;
    }
}
