.qui .qui-linkicon-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  background-color: #e8e8e8;
  color: #121212;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.qui .qui-linkicon-block:hover {
  box-shadow: 0 0 28px rgba(0, 0, 0, 0.25), 0 0 10px rgba(0, 0, 0, 0.22);
  z-index: 2;
}

.qui .qui-linkicon-block.active {
  background-color: #ffab00;
  color: #121212;
}

.qui .qui-linkicon-block .qui-linkicon-anchor {
  width: 100%;
}

.qui .qui-linkicon-block .qui-linkicon-anchor i {
  font-size: 1.75em;
  margin: 0 auto;
  margin-bottom: 5px;
}

.qui .qui-linkicon-block .qui-linkicon-anchor .qui-linkicon-caption {
  font-size: 0.8em;
  margin: 0 auto;
}

.tilt {
  transform: rotate(10deg);
  transition: all ease-in-out;
}

// .qui.qui-icon-link {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   text-transform: uppercase;
//   .pad-normal {
//     padding: 1.5em 0.5em;
//   }
//   .qui-btn {
//     width: 5em;
//     &.is-circular {
//       border-radius: 0.5em;
//     }
//     &.is-circular.circular-without-label {
//       border-radius: 50%;
//       padding: 1.3em 0.3em;
//     }
//   }
//   .qui-iconlink-anchor {
//     text-decoration: none;
//   }
//   .tilt {
//     transform: rotate(10deg);
//     transition: all ease-in-out;
//   }
//   .qui-icon-label {
//     font-weight: normal;
//   }
//   .qui-icon-caption {
//     font-style: normal;
//     margin-top: 0.3em;
//   }
//   .qui-iconlink-icon {
//     font-size: 2.5em;
//   }
// }
