.qui.qui-option-item-three .qui.qui-optional-image-field {
  box-shadow: 0px 3px 3px 1px #dfdfdf;
  filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
}

.qui .qui-option-item-three-container {
  display: flex;
  align-items: center;
}

.qui .qui-option-item-three-close-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #a8a8a8;
}

.qui .qui-option-item-three-icon {
  cursor: pointer;
  margin-bottom: 0.2em;
}

.qui .qui-option-item-three-radio-container {
  display: flex;
  align-items: center;
}

.qui .qui-option-item-three-radio-button,
.qui .qui-option-item-three-label {
  cursor: pointer;
}

.qui
  .qui-option-item-three-radio-container
  .css-146k4iu-MuiButtonBase-root-MuiRadio-root.Mui-checked {
  color: #ffab00;
}

.qui .qui-option-item-three-container .qui-optional-image-field-button {
  padding: 0em 0.8em;
  font-size: 1.2em;
  border: 0.12em solid #ffbf00;
}

.qui .qui-option-item-three-container .qui .qui-optional-image-field-icon {
  padding: 0.04em 0.2em;
}

.qui .qui-option-item-three-radio {
  min-width: 7em;
  margin: 0 0.2em;
}

@media only screen and (min-width: 320px) {
  .qui .qui-option-item-three-radio {
    min-width: 2.8em;
  }
  .qui .qui-option-item-three-radio-container {
    min-width: 3.5em;
  }
  .qui
    .qui-option-item-three-radio-container
    .MuiTypography-root.css-ahj2mt-MuiTypography-root {
    display: none;
  }
  .qui .qui-option-item-three-close-icon {
    height: 1.5em;
    width: 1.7em;
    font-size: 1.4em;
  }
  .qui.qui-option-item-three .qui.qui-optional-image-field {
    font-size: 1em;
  }
  .qui .qui-option-item-three-container .qui-optional-image-field-button {
    padding: 0.2em 1em;
    font-size: 1em;
  }
}

@media only screen and (min-width: 769px) {
  .qui .qui-option-item-three-radio-container {
    min-width: 8em;
  }
  .qui
    .qui-option-item-three-radio-container
    .MuiTypography-root.css-ahj2mt-MuiTypography-root {
    display: block;
  }
  .qui .qui-option-item-three-close-icon {
    height: 1.5em;
    width: 1.7em;
    font-size: 1.6em;
  }
}
