/* ================================================= */
/* InputField Definitions */
/* ================================================= */
.qui .qui-input-field-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
/* ================================================= */
/* filled Definitions */
/* ================================================= */
.qui .qui-filled {
    width: 100%;
    min-height: 1.5em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}
// /* ================================================= */
/* charLimited Definitions */
/* ================================================= */
.qui .qui-char-limited-container {
    width: 100%;
}
.qui .qui-char-limited {
    width: 100%;
    min-height: 1.5em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.qui .qui-char-limited-max-length {
    background-color: #aaaaaa;
    width: fit-content;
    padding: 0 0.7em 0.1em 0.7em;
    font-size: 1em;
    position: absolute;
    right: 2em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}
/* ================================================= */
/* listInput Definitions */
/* ================================================= */
.qui .qui-list-input-container {
    width: 100%;
}
.qui .qui-list-input {
    width: 100%;
    min-height: 1em;
    font-size: 1em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}
/* ================================================= */
/* shortFiled Definitions */
/* ================================================= */
.qui .qui-short-field {
    width: 4em;
    min-height: 1em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}
/* ================================================= */
/* Mui Override Definitions */
/* ================================================= */
.qui .MuiFilledInput-root:after {
    animation: none;
    transition: none;
    outline: none;
}
.qui .MuiFilledInput-root:before {
    border-bottom: 0.3em solid #8c8c89;
    animation: none;
    transition: none;
    outline: none;
}
.qui .MuiFilledInput-root:hover:not(.Mui-disable):before {
    border-bottom: 0.3em solid #8c8c89;
}
.qui .MuiFilledInput-root {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}
.qui .MuiInputBase-input.MuiFilledInput-input {
    margin-bottom: 0.3em;
}