.qui-data-completion-upload-modal-container {
  position: relative;
  background-color: #fff;
  padding: 2em;
  border-radius: 1em;
}

.qui-data-completion-upload-buttons {
  margin-top: 1em;
  display: flex;
  justify-content: flex-end;
}
