.qui.qui-amplayfier-date-block .is-fluid {
  width: auto;
  min-width: auto;
}
.qui.qui-amplayfier-date-block.is-fluid {
  .qui-amplayfier-drawer-rect {
    width: 100%;
  }
}

.qui .qui-amplayfier-date-block-container {
  color: #ffffff;
}

.qui .qui-amplayfier-date-block-container h2 {
  margin: 0.7em 2em 1em 2em;
}
