.qui.qui-amplayfier-date-block {
  display: inline-block;
}

.qui .qui-amplayfier-date-block-container {
  color: #ffffff;
}

.qui .qui-amplayfier-date-block-container .qui-amplayfier-date-block-title {
  margin: 0.7em 1.5em 1em 1.5em;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.30);
}
