* {
    box-sizing: border-box;
}
/* ================================================= */
/* Header style h1, h2, h3, h4, h5, h6*/
/* ================================================= */
h1 {
    font-weight: 400;
    font-size: 3.5em;
}

h2 {
    font-weight: 300;
    font-size: 3em;
}

h3 {
    font-weight: 400;
    font-size: 2em;
}

h4 {
    font-weight: 400;
    font-size: 1.5em;
}

h5 {
    font-weight: 700;
    font-size: 1.12em;
}

h6 {
    font-weight: 700;
    font-size: 0.8em;
}

/* ================================================= */
/* Container Style */
/* ================================================= */
.qui {
    position: relative;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

/* ================================================= */
/* Float State Definitions*/
/* ================================================= */

.qui.float-none {
    float: none;
    display: block;
}

.qui.float-left {
    float: left;
    display: block;
}

.qui.float-right {
    float: right;
    display: block;
}

.qui.float-inline {
    float: none;
    display: inline-block;
}

/* ================================================= */
/* Layout State Definitions */
/* ================================================= */
.qui.is-hidden {
    display: none;
}

.qui.is-disabled {
    pointer-events: none;
    opacity: 0.6;
}

.qui.is-loading {
    pointer-events: none;
}

.qui.is-fluid {
    width: 100%;
    min-width: 100%;
}

.qui .is-fluid {
    width: 100%;
    min-width: 100%;
}

/* ================================================= */
/* Font Size Definitions */
/* ================================================= */
.qui .size-massive {
    font-size: 2em;
    line-height: 1.2;
}

.qui .size-huge {
    font-size: 1.5em;
    line-height: 1.2;
}

.qui .size-big {
    font-size: 1.25em;
    line-height: 1.2;
}

.qui .size-normal {
    font-size: 1em;
    line-height: 1.2;
}

.qui .size-small {
    font-size: 0.85em;
    line-height: 1.2;
}

.qui .size-tiny {
    font-size: 0.7em;
    line-height: 1.2;
}

/* ================================================= */
/* Padding Definitions */
/* ================================================= */
.qui .pad-fitted {
    padding: 2px 4px;
}
.qui .pad-fitted.squared {
    padding: 4px;
}

.qui .pad-compact {
    padding: 4px 8px;
}
.qui .pad-compact.squared {
    padding: 8px;
}
.qui .pad-normal {
    padding: 6px 12px;
}
.qui .pad-normal.squared {
    padding: 12px;
}

.qui .pad-relaxed,
.qui .pad-normal.size-huge,
.qui .pad-normal.size-massive {
    padding: 10px 20px;
}

.qui .pad-relaxed.squared,
.qui .pad-normal.size-huge.squared,
.qui .pad-normal.size-massive.squared {
    padding: 20px;
}

.qui .pad-relaxed.size-huge,
.qui .pad-relaxed.size-massive {
    padding: 15px 30px;
}

.qui .pad-relaxed.size-huge.squared,
.qui .pad-relaxed.size-massive.squared {
    padding: 30px;
}

/* ================================================= */
/* Margin Definitions */
/* ================================================= */
.qui.margin-spaced {
    margin: 7.5px;
}
.qui.margin-snug {
    margin: 2.5px;
}
.qui.margin-normal {
    margin: 0;
}
.qui.gutter-down {
    margin-bottom: 15px !important;
}

/* ================================================= */
/* Alignment Definitions */
/* ================================================= */
.qui .left-aligned {
    text-align: left;
}

.qui .right-aligned {
    text-align: right;
}

.qui .center-aligned {
    text-align: center;
}

/* ================================================= */
/* Font Style Definitions */
/* ================================================= */
.prifont {
    font-family: "Arial", sans-serif;
}

.secfont {
    font-family: "Arial", sans-serif;
}

.qui .qt-lbl,
.qui.qt-lbl {
    font-style: normal;
    font-weight: 400;
    font-size: 0.8em;
}

.qui .qt-sm,
.qui.qt-sm {
    font-style: normal;
    font-weight: 400;
    font-size: 0.7em;
}

.qui .qt-mn,
.qui.qt-mn {
    font-style: normal;
    font-weight: 400;
    font-size: 0.5em;
}

.qui .qt-utn,
.qui.qt-utn {
    font-style: normal;
    font-weight: 400;
    font-size: 0.6em;
}

/* ================================================= */
/* Box Shadow Definitions */
/* ================================================= */
.qui .qt-shadow,
.qui.qt-shadow {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}