$primary-color:#ed6e6e;
$primary-text:#ffffff;
$secondary-color:#3e587a;
$secondary-text:#ffffff;
$warning-color:#ffbf00;
$warning-text:#000000;

.qui .qui-btn.variant-primary,
.qui .qui-loader.variant-primary,
.qui .qui-carousel.variant-primary,
.qui .qui-ribbon.variant-primary {
    background-color: $primary-color;
    color: $primary-text;

    &.emp-text {
        background-color: transparent;
        color: $primary-color;
    }

    &.emp-outlined {
        background-color: transparent;
        border: 1px solid $primary-color;
        color: $primary-color;
    }
}

.qui .qui-btn.variant-secondary,
.qui .qui-loader.variant-secondary,
.qui .qui-carousel.variant-secondary,
.qui .qui-ribbon.variant-secondary {
    background-color: $secondary-color;
    color: $secondary-text;

    &.emp-text {
        background-color: transparent;
        color: $secondary-color;
    }

    &.emp-outlined {
        background-color: transparent;
        border: 1px solid $secondary-color;
        color: $secondary-color;
    }
}

.qui .qui-btn.variant-warning,
.qui .qui-loader.variant-warning,
.qui .qui-carousel.variant-warning,
.qui .qui-ribbon.variant-warning {
    background-color: $warning-color;
    color: $warning-text;

    &.emp-text {
        background-color: transparent;
        color: $warning-color;
    }

    &.emp-outlined {
        background-color: transparent;
        border: 1px solid $warning-color;
        color: $warning-color;
    }
}

.qui .qui-btn.variant-text {
    background-color: $warning-color;
    color: $warning-text;
}

.qui .variant-primary-text {
    color: $primary-color;
}

.qui .variant-secondary-text {
    color: $secondary-color;
}

.qui .variant-warning-text {
    color: $warning-color;
}