.qui.qui-icon-block {
  .pad-fitted {
    padding: 0.7em;
  }
  .pad-compact {
    padding: 0.85em;
  }
  .pad-normal {
    padding: 1em;
  }
  .pad-relaxed {
    padding: 1.2em;
  }
  .qui-icon-button-container {
    border: 1px solid transparent;
    border-radius: 50%;
    display: inline-block;

    .qui-icon-button-style {
      margin: 0.25em 0.2em;
    }
  }
}
