.qui .qui-option-item-four-container {
  display: flex;
  align-items: center;
}

.qui.qui-option-item-four .qui-char-limit-max-length {
  font-size: 0.6em;
  opacity: 0.7;
}

.qui.qui-option-item-four .qui-char-limit-ideal-length {
  font-size: 0.6em;
  opacity: 0.7;
}

.qui .qui-option-item-four-close-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #a8a8a8;
}

.qui .qui-option-item-four-icon {
  cursor: pointer;
  font-size: 0.9em;
  margin-top: 0.1em;
}

.qui.qui-option-item-four .qui-input-field {
  text-indent: 0;
}

.qui .qui-option-item-four-checkbox {
  display: flex;
  align-items: center;
  .qui-check-box-inner-container {
    padding: 0;
  }
}

@media only screen and (min-width: 320px) {
  .qui .qui-option-item-four-close-icon {
    height: 1.5em;
    width: 1.7em;
    font-size: 1.4em;
  }

  .qui.qui.qui-option-item-four
    .qui-option-item-four-container
    .qui.qui-check-box
    .qui-check-box-element {
    display: none;
  }
}

@media only screen and (min-width: 481px) {
  .qui .qui-option-item-four-checkbox {
    min-width: 8em;
    padding-right: 0.5em;
  }

  .qui.qui.qui-option-item-four
    .qui-option-item-four-container
    .qui.qui-check-box
    .qui-check-box-element {
    display: block;
    gap: 0.5em;
  }
}

@media only screen and (min-width: 769px) {
  .qui .qui-option-item-four-close-icon {
    height: 1.5em;
    width: 1.7em;
    font-size: 1.6em;
  }
}
