.qui-today-menu-btn {

    .qui-today-menu-btn-container {
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px -2px 2px 0px rgba(168, 148, 148, 0.5);
        border-radius: 10px 10px 0px 0px;
        cursor: pointer;

        h6 {
            margin: 0;
        }
    }

    .qui-today-menu-btn-text {
        text-transform: uppercase;
        letter-spacing: -0.02em;
    }

    .qui-today-menu-btn-icon {
        font-size: 1em;
    }
}