.qui .qui-diptych-card {
  background-color: #ffffff;
  padding: 1.5em;
  border-radius: 1em;
  .qui-side-header {
    width: 10em;
  }
  .qui-title-block {
    min-width: 12em;
    min-height: 10em;
  }
  .qui-title {
    font-size: 1.5em;
    padding: 0 0 0.2em 0;
  }
  .qui-sub-title {
    font-size: 1em;
  }
  .qui-block-text {
    font-weight: 100;
  }
  .qui-text-block-area {
    width: auto;
    margin: 0.5em 0 0 0;
  }
  .qui-diptych-image {
    width: 99%;
    border-radius: 1em;
    max-height: 13em;
    filter: drop-shadow(0px 5px 2px #a09797);
  }
  .qui-diptych-clickable-images {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 1em 0;
    filter: drop-shadow(0px 5px 2px #a09797);
  }
  .qui-clickable-image-container {
    height: 13em;
    width: 50%;
  }
  .qui-clickable-image-container:first-child {
    margin-right: 0.3em;
    img {
      border-top-left-radius: 0.5em;
      border-bottom-left-radius: 0.5em;
    }
  }
  .qui-clickable-image-container:last-child {
    img {
      border-top-right-radius: 0.5em;
      border-bottom-right-radius: 0.5em;
    }
  }
}
.qui-diptych-presenter-container {
  width: 22em;
  border-radius: 1em;
  padding: 1.5em 1.5em 0 1.5em;
}

.qui .qui-diptych-presenter-clickable-images {
  display: inline-flex;
  .qui-clickable-image-container {
    height: 13em;
  }
  .qui-clickable-image-container:first-child {
    margin-right: 0.3em;
    img {
      border-top-left-radius: 0.5em;
      border-bottom-left-radius: 0.5em;
    }
  }
  .qui-clickable-image-container:last-child {
    img {
      border-top-right-radius: 0.5em;
      border-bottom-right-radius: 0.5em;
    }
  }
}
.qui-presenter-title {
  .qui-block-text {
    text-align: left;
    font-size:1.5em;
  }
  .qui .qui-text-block-area {
    width: 18em;
    padding:1em;
    font-weight: 500;
    margin: 0.5em 0 0 0;
  }
}
.qui-presenter-sub-title {
  .qui-block-text {
    text-align: left;
    font-size:1em;
  }
  .qui .qui-text-block-area {
    width: 12em;
    padding:1em;
    font-weight: 500;
    margin: 0 0 0 0;
  }
}
.qui-presenter-caption {
  .qui-block-text {
    text-align: left;
    font-size:1em;
  }
  .qui .qui-text-block-area {
    width: 15em;
    padding:1em;
    font-weight: 500;
    margin: 0 1em 0 0;
    z-index: 2;
  }
}
.qui .qui-diptych-presenter{
  position: absolute;
  right:0;
  bottom:0;
  z-index: 1;
  height: 10em;
}
@media only screen and (min-width: 481px) {
  .qui .qui-diptych-card {
    width: 22em;
  }
  .qui-diptych-image {
    border-radius: 1em;
    max-height: 12em;
  }
}
