.qui.qui-content-table-row {
  background-color: #ffffff;
  padding: 0.5em 0.6em;
  margin-bottom: 0.4em;
  overflow: visible;
}
.qui .qui-table-content-row-container {
  display: flex;
  align-items: center;
}
.qui .qui-content-input {
  flex: 1;
  border: 0.1em solid #ffffff;
  font-size: 1em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.qui .qui-content-input:focus {
  outline: none;
  border: 0.1em solid #000000;
}
.qui .qui-content-input:hover {
  border: 0.1em solid #000000;
}
.qui .qui-content-table-checkbox-container {
  height: 1.4em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.qui .qui-content-checkbox {
  cursor: pointer;
  font-size: 1.2em;
  vertical-align: middle;
  text-align: center;
}
.qui.qui-content-table-row .fa-check-square {
  filter: drop-shadow(0px 0px 0px #ffffff);
}
.qui .qui-content-menu {
  font-size: 1.2em;
  background-color: rgb(255, 255, 255);
  color: #808080;
  cursor: pointer;
  display: flex;
  justify-content: center;
  border: none;
}
.qui .qui-content-table-file-icon {
  width: 2em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.qui .qui-table-file-icon {
  font-size: 1.2em;
}
.qui .qui-content-table-row-action-menu{
  position: absolute;
  top: 50%;
  right: 3%;
  z-index: 20;
}
@media only screen and (min-width: 320px) {
  .qui-content-table-row {
    font-size: 0.8em;
  }
}

@media only screen and (min-width: 481px) {
  .qui-content-table-row {
    font-size: 0.75em;
  }
}

@media only screen and (min-width: 769px) {
  .qui-content-table-row {
    font-size: 1.2em;
  }
}
