.qui .qui-toolbar-dark-backbar {
  background-color: #222a35;
  padding: 0.5em 1em;
  text-align: center;
  border-radius: 0.7em;
  .qui.qui-icon-link {
    font-size: 0.8em;
  }
}
.qui-toolbar-dark-icon {
  display: flex;
  justify-content: space-around;
}
@media only screen and (min-width: 320px) and (max-width: 400px) {
  .qui .qui-toolbar-dark-backbar {
    .qui.qui-icon-link {
      font-size: 0.6em;
    }
  }
}
