.qui.qui-text-block {
  margin-bottom: 0.5em;
  .qui-text-block-p {
    &.pad-fitted {
      padding: 0;
    }
    &.pad-normal {
      padding: 0;
    }
    &.pad-compact {
      padding: 0;
    }
    &.pad-relaxed {
      padding: 0;
    }
  }
}
.qui .qui-text-block-area {
  width: 70vw;
  margin: 0 1em 0 1em;
  min-height: 2em;
  position: relative;
  border-radius: 0.5em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.qui .qui-block-text {
  height: auto;
  font-weight: bold;
  word-break: break-word;
  overflow: hidden;
  -webkit-box-orient: vertical;
  white-space: no-wrap;
}
// Tringles
.qui-text-block-chat-arrow {
  position: absolute;
}
.qui .qui-arrow-right-bottom {
  width: 0;
  height: 0;
}
.qui .qui-arrow-left-bottom {
  width: 0;
  height: 0;
}
.qui .qui-arrow-left-top {
  width: 0;
  height: 0;
}
.qui .qui-arrow-right-top {
  width: 0;
  height: 0;
}
.qui .qui-arrow-right-bottom {
  right: -0.5em;
  bottom: 0.5em;
  clip-path: polygon(0 0, 50% 50%, 0 100%);
  width: 1.5em;
  height: 1em;
}
.qui .qui-arrow-left-bottom {
  left: 0.2em;
  bottom: 0.5em;
  clip-path: polygon(100% 0, 100% 100%, 0% 50%);
  width: 0.8em;
  height: 1em;
}
.qui .qui-arrow-left-top {
  left: 0.2em;
  top: 0.5em;
  clip-path: polygon(100% 0, 100% 100%, 0% 50%);
  width: 0.8em;
  height: 1em;
}
.qui .qui-arrow-right-top {
  right: -0.5em;
  top: 0.5em;
  clip-path: polygon(0 0, 50% 50%, 0 100%);
  width: 1.5em;
  height: 1em;
}
@media only screen and (min-width: 320px) {
  .qui .qui-text-block-area {
    width: 70vw;
  }
}
