.qui.qui-feedback-form-m{
    overflow: visible;
}
.qui .qui-feedback-form-container {
    position: relative;
}
.qui .qui-feedback-toggle {
    margin:0 0.5em;
    padding-right: 0.2em;
    position: relative;
    z-index: 10;
    background-color: #ffffff;
}
.qui .qui-toggle-input-fields {
    padding: 1em 0.5em;
    margin:0.5em;
    border: none;
    top:2em;
    background-color: #dbdbdb;
    border-top-right-radius: 0.3em;
    border-top-left-radius: 0.3em;
    box-shadow: 0 5px #a3a2a2;
}
.qui .qui-toggle-input-fields:focus {
    outline: none !important;
}
.qui .qui-input-field-container{
    position: absolute;
    top: 1em;
    padding:1em 0.5em;
    border: 0.05em solid #DDDDDD;
    border-radius: 1em;
}


