.qui.qui-feedback-form-m {
    width: 100%;
    overflow: visible;
    margin: 1em 0 1em 0;
}
.qui .qui-feedback-form-container {
    display: flex;
}
.qui .qui-input-field-container {
    width: 100%;
    top: 1em;
    padding: 1em 0.5em;
    border: 0.05em solid #dddddd;
    border-radius: 1em;
    display: flex;
}
.qui .qui-toggle-input-fields {
    padding: 1em 0.5em;
    margin: 0.5em;
    border: none;
    top: 2em;
    width: 100%;
    font-size: 1em;
    background-color: #dbdbdb;
    border-top-right-radius: 0.3em;
    border-top-left-radius: 0.3em;
    box-shadow: 0 5px #a3a2a2;
}
.qui .qui-feedback-toggle {
    margin: 0 0.5em;
    padding-right: 0.2em;
    position: relative;
    z-index: 10;
    background-color: #ffffff;
}
.qui .qui-toggle-input-fields:focus {
    outline: none !important;
}
.qui-feedback-toggle-button {
    position: absolute;
    top: -1em;
    left: 1.5em;
    background-color: #ffffff;
}
@media only screen and (min-width: 320px) {
    .qui .qui-input-field-container {
        flex-direction: column;
    }
    .qui-feedback-toggle-button {
        left: 1em;
    }
    .qui .qui-toggle-input-fields {
        width: 85%;
    }
    .qui-feedback-toggle-button {
        font-size: 0.95em;
    }
}
@media only screen and (min-width: 481px) {
    .qui .qui-input-field-container {
        flex-direction: row;
    }
    .qui-feedback-toggle-button {
        font-size: 1em;
    }
}
@media only screen and (min-width: 769px) {
    .qui .qui-input-field-container {
        flex-direction: row;
    }
}
@media only screen and (min-width: 1024px) {
    .qui .qui-input-field-container {
        flex-direction: row;
    }
}
