.qui .qui-option-item-eight-container {
  display: flex;
  align-items: center;
  gap: 0.5em;
  flex: 1;
}

.qui.qui-option-item-eight .qui-char-limit-max-length {
  font-size: 0.6em;
  opacity: 0.7;
}

.qui.qui-option-item-eight .qui-char-limit-ideal-length {
  font-size: 0.6em;
  opacity: 0.7;
}

.qui .qui-option-item-eight-close-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  color: #a8a8a8;
}

.qui .qui-option-item-eight-icon {
  cursor: pointer;
  font-size: 1.2em;
}

.qui.qui-option-item-eight .qui-input-field {
  text-indent: 0;
}

.qui.qui-option-item-eight .qui-option-item-button {
  .css-tqxl64-MuiButtonBase-root-MuiButton-root {
    color: #666666;
    border-color: #ffab00;
    padding: 0.5em 1em;
  }
}

@media only screen and (min-width: 320px) {
  .qui.qui-option-item-seven .qui-char-limit-max-length {
    display: none;
  }
  .qui.qui-option-item-eight .qui-option-item-button {
    font-size: 0.6em;
    .css-tqxl64-MuiButtonBase-root-MuiButton-root {
      font-size: 0.6em;
      padding: 0.1em 1em;
      width: auto;
    }
  }
}

@media only screen and (min-width: 481px) {
  .qui.qui-option-item-seven .qui-char-limit-max-length {
    display: block;
  }
  .qui.qui-option-item-eight .qui-option-item-button {
    font-size: 0.8em;
    .css-tqxl64-MuiButtonBase-root-MuiButton-root {
      font-size: 1em;
      padding: 0.25em 1em;
      width: auto;
      white-space: nowrap;
    }
  }
}

@media only screen and (min-width: 769px) {
  .qui.qui-option-item-eight .qui-option-item-button {
    font-size: 1em;
  }
}
