.qui .qui-sidebar-block {
    height: 100vh;
    background: #ffffff;
}
.qui .qui-sidebar-block.edit-mode {
    background: #999999;
}

.qui .qui-sidebar-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #454545;
}

.qui .qui-sidebar-logo img {
    width: 80%;
}

.qui .qui-sidebar-edit-mode-label {
    position: absolute;
    color: #fff;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    bottom: 2.5em;
    left: -0.5em;
    text-transform: uppercase;
}