.qui .qui-sidebar-block {
    height: 100vh;
    background: #ffffff;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.12), 1px 0 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.qui .qui-sidebar-block.edit-mode {
    background: #454545;
}

.qui .qui-sidebar-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ed6e6e;
    box-shadow: 0 4px 3px -3px #666666;
    position: relative;
    z-index: 2;
    // border-bottom: 2px solid #333333;
}

.qui .qui-sidebar-logo img {
    width: 60%;
}

.qui .qui-sidebar-edit-mode-label {
    position: absolute;
    color: #fff;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    bottom: 2.5em;
    left: -0.4em;
    text-transform: uppercase;
}

.qui .qui-sidebar-page-title {
    position: absolute;
    writing-mode: vertical-rl;
    color: #333333;
    transform: rotate(180deg);
    bottom: 1em;
    left: -0.5em;
    text-transform: uppercase;
    font-family: "Roboto Light", sans-serif;
}