.qui.qui-captioned-paragraph {
    padding: 1.5em;
    border-radius: 1em;
    min-height: 30em;

    .qui .qui-title-block {
        min-width: 12em;
        min-height: 10em;
    }

    .qui .qui-title {
        font-size: 1.5em;
        padding: 0 0 0.2em 0;
    }

    .qui .qui-sub-title {
        font-size: 1em;
    }

    .qui-captioned-paragraph-image {
        width: 100%;
        border-radius: 1em;
        max-height: 17em;
        filter: drop-shadow(0px 5px 2px #a09797);
    }

    .qui-captioned-paragraph-text-block {
        padding: 1em 0 0.5em 0;
    }

    .qui-text-block-area {
        width: fit-content;
    }
}

@media only screen and (min-width: 320px) {
    .qui.qui-captioned-paragraph {
        width: auto;
        font-size: 0.8em;
    }
}

@media only screen and (min-width: 481px) {
    .qui.qui-captioned-paragraph {
        width: 20em;
        font-size: 0.9em;
    }
}

@media only screen and (min-width: 769px) {
    .qui.qui-captioned-paragraph {
        width: 20em;
        font-size: 1em;
    }
}
