.qui.qui-paragraph-card {
  background-color: #ffffff;
  border-radius: 1em;
  .qui .qui-title-block {
    min-width: 12em;
    min-height: 10em;
  }
  .qui .qui-title {
    font-size: 2.4em;
    padding: 0 0 0.2em 0;
  }
  .qui .qui-sub-title {
    font-size: 1em;
  }
  .qui .qui-title {
    font-size: 1.5em;
  }
}

.qui-paragraph-container.qui-paragraph-presenter {
  padding-left: 1em;
}

.qui .qui-paragraph-slide-header .qui-paragraph-image {
  box-shadow: 0px 4px 10px #8b8b8b;
  min-width: 12em;
  height: 15em;
  object-fit: cover;
}

.qui .qui-paragraph-image {
  width: 100%;
  border-radius: 1em;
}

.qui .qui-paragraph-card-subtitle {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.qui .qui-paragraph-subtitle {
  margin: 0;
  font-size: 1.1em;
  text-align: center;
  width: 70%;
}

.qui .qui-paragraph-slide-header.qui-paragraph-slide-header-presenter {
  position: relative;
  padding: 0;
}

.qui .qui-paragraph-slide-header {
  position: relative;
  padding: 1.1em;
}

.qui .qui-paragraph-text-block {
  margin-top: 1em;
  font-size: 2em;
  padding-left: 1em;
  .qui .qui-text-block-area {
    padding: 0.2em;
    margin: 0;
    border-radius: 0.2em;
    width: 85%;
  }
  .qui-paragraph-block-header {
    .qui-block-text {
      font-size: 0.8em;
    }
  }
  .qui-paragraph-block-subtitle {
    width: 60%;
    font-size: 0.5em;
    font-weight: 300;
    .qui .qui-text-block-area {
      padding: 0.5em 0.5em 0.5em 0.7em;
      border-radius: 0.4em;
      width: 85%;
    }
    .qui-block-text {
      font-size: 0.8em;
    }
  }
  .qui-block-text {
    font-size: 0.7em;
  }
}

.qui .qui-paragraph-block-paragraph {
  font-size: 2em;
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
  z-index: 99;
  .qui .qui-text-block-area {
    width: 8em;
    .qui-block-text {
      font-weight: 300;
    }
  }
  .qui.qui-text-block-container {
    overflow: visible;
    position: relative;
    .qui-text-block-chat-arrow.qui-arrow-right-bottom {
      right: -0.2em;
      bottom: 0.5em;
      border-top: 0.1em solid transparent;
      border-bottom: 0.1em solid transparent;
      border-left: 0.2em solid #ad292980;
    }
  }
}

.qui .qui-paragraph-presenter-image {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50%;
}

.qui .qui-paragraph-presenter-image {
  object-fit: cover;
}

@media only screen and (min-width: 320px) {
  .qui.qui-paragraph-card {
    min-height: 31em;
  }
  .qui .qui-paragraph-block-paragraph .qui .qui-text-block-area {
    font-size: 0.27em;
  }
}

@media only screen and (min-width: 481px) {
  .qui .qui-paragraph-block-paragraph .qui .qui-text-block-area {
    font-size: 0.35em;
  }
}

@media only screen and (min-width: 720px) {
  .qui.qui-paragraph-card {
    min-height: 33.7em;
    max-width: 23em;
  }
}
