.qui-redeem-card {
    padding: 1em;
    .qui .qui-point-container {
        flex-direction: row-reverse;
        align-items: flex-start;
        font-size: 0.9em;
        font-weight: bold;
        align-self: flex-start;
        width: auto;
    }
    .qui .qui-point-container .qui-point {
        padding-top: 0.1em;
        color: #fff;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 11ch;
    }
    color: #fff;
}
.qui-redeem-card-container {
    display: flex;
    width: 15.625em;
    min-height: 19.125em;
    background-color: #222a35;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.6em;
    mix-blend-mode: normal;
    padding: 0.5em 1.5em;
}
.qui-redeem-card-name {
    font-size: 1.2em;
    align-self: flex-start;
    max-width: 22ch;
    word-break: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.qui-redeem-card-image {
    height: 6.17125em;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.qui-redeem-card-cost-stock-container {
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
}
.qui-redeem-card-cost-stock-container-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.qui-redeem-card-cost-stock-container-column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-top: 0.5em;
}
.qui-redeem-card-cost {
    flex: 1;
}
.qui-redeem-card-accent-line {
    width: 4.308125em;
    align-self: flex-start;
    .qui .qui-accentline {
        border-bottom: 0.7em solid;
    }
}
.qui-redeem-card-label-container {
    display: flex;
    margin-top: 0.3em;
}
.qui-redeem-card-label-show-more-non-active {
    text-align: left;
    align-self: flex-start;
    font-size: 0.85em;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
}
.qui-redeem-card-label-show-more-active {
    text-align: left;
    align-self: flex-start;
    font-size: 0.85em;
}
.qui-redeem-card-status {
    text-align: right;
    align-self: flex-end;
    line-height: 1.3em;
}
.qui-redeem-card-redeem-inprogress,
.qui-redeem-card-redeem-completed {
    font-size: 0.8em;
    width: 60%;
}
.qui-redeem-card-redeem-inprogress {
    color: #ffbf00;
}
.qui-redeem-card-redeem-completed {
    color: rgb(193, 220, 158);
}
.qui-redeem-card-stock {
    margin-top: 0.5em;
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: right;
    font-weight: bold;
    word-break: break-all;
    overflow: hidden;
}
.qui-redeem-card-show-more {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
}

@media only screen and (min-width: 320px) {
    .qui-redeem-card {
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 375px) {
    .qui-redeem-card {
        font-size: 1rem;
    }
}
