.qui.qui-anagram-card{
  background-color:#FFFFFF;
  padding:1.5em;
  border-radius: 1em;
  .qui-banner-card{
    box-shadow: 0px 4px 5px 1px #918686;
    border-radius:1em;
  }
}
.qui .qui-anagram-caption{
  font-size: 1em;
  width: 100%;
} 