.qui-html-carousel {
  overflow: inherit;
  margin-bottom: 2em;
}

.qui-html-carousel .qui-html-slide-container {
  width: 99%;
}

.qui-html-carousel .qui-html-slide-container .qui-slider-card-box {
  display: none;
  background-color: rgba(173, 41, 41, 0.6);
  color: white;
}

.qui-html-slide-container .qui-ribbon-container .qui-ribbon {
  position: relative;
  z-index: 1;
}

.qui-html-slide-container .qui-banner-card .qui-slider-card-box-content {
  overflow: hidden;
  max-width: 100ch;
  text-overflow: ellipsis;
}

.qui-html-carousel .slick-slide {
  .qui-card-label {
    display: none;
  }

  &.slick-active {
    transform: scaleY(1);

    .qui-slider-card-box {
      display: inline-block;
    }

    .qui-card-label {
      display: inline;
    }
  }
}

@media only screen and (min-width: 320px) {
  .qui-html-slide .qui-banner-card {
    display: inline-block;
    width: 100%;
    font-size: 0.7em;
    border-radius: 1.5em;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 0px 0px #666666;
  }

  .qui-html-slide-container .qui-ribbon-container {
    font-size: 1.1 em;
    font-weight: bold;
    text-transform: capitalize;
  }

  .qui-html-slide-container .qui-banner-card .qui-slider-card-box {
    max-width: 70%;
    left: 0%;
    bottom: 10%;
    top: 10%;
    right: 0%;
    margin: auto;
    padding: 0.5em 1em;
    border-radius: 0.5em;
  }

  .qui-html-slide-container .qui-banner-card .qui-slider-card-box-content {
    font-size: 1.4em;
    font-weight: normal;
    line-height: 1.1;
    position: absolute;
    padding: 0.1em 0.2em;
    top: 50%;
    left: 0%;
    right: 0%;
    margin: auto;
    text-align: center;
    transform: translateY(-50%);
    opacity: 1;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .qui-html-carousel .slick-dots li button:before {
    font-size: 9px;
  }

  .qui-html-carousel .slick-dots li.slick-active button:before {
    font-size: 12px;
    color: #a6a6a6;
  }

  .qui-html-carousel .slick-dots li {
    margin: 0 -4px;
  }

  .qui-html-carousel .slick-dots {
    bottom: -25px;
    left: 0%;
    right: 0%;
    margin: auto;
    width: fit-content;
  }

  .qui-html-carousel .qui-html-slick-arrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
  }

  .qui-html-carousel .qui-html-slick-prev,
  .qui-html-slick-next {
    cursor: pointer;
    color: #666666;
  }
}

@media only screen and (min-width: 481px) {
  .qui-html-slide .qui-banner-card {
    font-size: 0.85em;
  }

  .qui-html-slide-container .qui-ribbon-container {
    font-size: 1.3em;
    font-weight: bold;
    text-transform: capitalize;
  }

  .qui-html-slide-container .qui-banner-card .qui-slider-card-box-content {
    font-size: 1.6em;
  }

  .qui-html-carousel .qui-html-slick-arrows {
    font-size: 2em;
  }

  .qui-html-carousel .slick-dots li button:before {
    font-size: 12px;
  }

  .qui-html-carousel .slick-dots li.slick-active button:before {
    font-size: 15px;
    color: #a6a6a6;
  }

  .qui-html-carousel .slick-dots li {
    margin: 0 -2px;
  }

  .qui-html-carousel .slick-dots {
    bottom: -30px;
  }
}

@media only screen and (min-width: 769px) {
  .qui-html-slide .qui-banner-card {
    font-size: 1em;
  }

  .qui-html-slide-container .qui-ribbon-container {
    font-size: 1.2em;
    font-weight: bold;
    text-transform: capitalize;
  }

  .qui-html-slide-container .qui-banner-card .qui-slider-card-box-content {
    font-size: 1.7em;
  }

  .qui-html-carousel .qui-html-slick-arrows {
    font-size: 2.5em;
  }

  .qui-html-carousel .slick-dots li button:before {
    font-size: 15px;
  }

  .qui-html-carousel .slick-dots li.slick-active button:before {
    font-size: 17px;
    color: #a6a6a6;
  }

  .qui-html-carousel .slick-dots li {
    margin: 0 -2px;
  }

  .qui-html-carousel .slick-dots {
    bottom: -35px;
  }
}