/* ================================================= */
/* Action Button Styling */
/* ================================================= */
.qui .actionButtonContainer{
    min-height:5rem;
    min-width: 5rem;
    background-color: #E5E5E5;
    border-radius: 50%;
    box-shadow: 3px 3px 5px #818080 inset;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qui .actionButtonContainerWithNoCircle{
    min-height:5rem;
    min-width: 5rem;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.qui .actionButtonContainerWithNoCircle .actionButton,
.qui .actionButtonContainer .actionButton{
    flex-direction: column;
    width: 100%;
    padding:1em 0;
    border-radius: 15%;  
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); 
}

.qui .actionButtonContainer .actionButton .actionButton-label, 
.qui .actionButtonContainerWithNoCircle .actionButton .actionButton-label{
    font-size: 1.6em;
    padding: 0 5px;
    &.responsiveLabelSize{
        font-size: 1em;
    }
}

.qui .actionButtonContainer .actionButton .actionButton-amount, 
.qui .actionButtonContainerWithNoCircle .actionButton .actionButton-amount{
    font-size: 1em;
    padding: 0 5px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    &.responsiveAmountSize{
        font-size: 0.8em;
    }
}

/* ================================================= */
/* Container Size Definitions*/
/* ================================================= */
.qui .size-massive .actionButtonContainer,
.qui .size-massive .actionButtonContainerWithNoCircle{
    min-height: 16rem;
    min-width:16rem;
}
.qui .size-huge .actionButtonContainer,
.qui .size-huge .actionButtonContainerWithNoCircle{
    min-height: 13rem;
    min-width: 13rem;
}
.qui .size-big .actionButtonContainer,
.qui .size-big .actionButtonContainerWithNoCircle {
    min-height: 11rem;
    min-width: 11rem;
}
.qui .size-normal .actionButtonContainer,
.qui .size-normal .actionButtonContainerWithNoCircle {
    min-height: 9rem;
    min-width: 9rem;

}
.qui .size-small .actionButtonContainer,
.qui .size-small .actionButtonContainerWithNoCircle{
    min-height: 7rem;
    min-width: 7rem;
}
.qui .size-tiny .actionButtonContainer,
.qui .size-tiny .actionButtonContainerWithNoCircle {
    min-height:5rem;
    min-width: 5rem;
}


