.qui-course-card {
    height: 100%;
    width: 100%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    border-radius: 0.6em;
}
.qui-course-card-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.qui-course-card-body {
    display: flex;
    flex-direction: column;
    min-height: 23em;
    margin: 1em 1.8125em 0 1.8125em;
    justify-content: space-between;
}
.qui-course-card-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
}
.qui-course-card-title-container {
    z-index: 1;
    display: flex;
    align-items: center;
}
.qui-course-card-title {
    text-align: left;
    font-size: 1.4em;
    color: #454545;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}
.qui-course-card-tag-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8em;
}
.qui .qui-course-card-tag {
    display: flex;
    align-items: center;
    padding: 0.2em;
}
.qui-nugget-block-styling {
    pointer-events: none;
}
.qui-course-card-description {
    width: 55%;
    text-align: left;
    color: #666666;
    font-size: 0.7em;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    white-space: normal;
}
.qui-course-card-description-container {
    display: flex;
    margin-top: 1em;
    width: 100%;
    justify-content: space-between;
}
.qui-course-card-arc-menu {
    height: 4em;
    width: 5em;
}
.qui-course-card-share-block {
    font-size: 0.52em;
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: end;
    margin-right: 1.5em;
    justify-content: center;
}
.qui-course-card-link-container {
    text-align: right;
    display: flex;
    align-items: center;
}
.qui-course-card-link {
    color: #666666;
    text-decoration: none;
}
.qui-course-card-share-widget {
    margin-right: -1.5em;
}
.qui-course-card-reward {
    width: 50%;
    text-overflow: ellipsis;
    font-size: 0.8em;
}
.qui-course-card-name {
    font-size: 1.1em;
    color: #aaaaaa;
}
.qui-course-card .qui-banner-card {
    margin-top: 0.5em;
    box-shadow: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.qui.qui-course-card .qui-slider-card-box {
    position: absolute;
    font-size: 1em;
    min-width: 50%;
    left: 22%;
    bottom: 0;
    opacity: 1;
    padding: 0.5em 1em;
    background: #454545;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.qui-course-card .qui-slider-card-box-header {
    text-align: center;
}
.qui-course-card-tag-and-date-container {
    display: flex;
    align-items: center;
    margin-top: -0.4em;
}
.qui-course-card-date-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 0.7em;
    color: #666666;
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
    .qui-course-card-body {
        min-height: 18em;
    }
    .qui-course-card-reward {
        font-size: 0.75em;
    }
    .qui-course-card-share-widget {
        font-size: 1.2em;
        margin-right: -0.9em;
    }
    .qui-course-card-title {
        font-size: 1.1em;
    }
    .qui-course-card-link-container {
        margin-right: -0.8em;
    }
    .qui-course-card-date-container {
        font-size: 0.55em;
    }
    .qui-course-card-tag-container {
        font-size: 0.55em;
    }
    .qui.qui-course-card .qui-slider-card-box {
        left: 19%;
    }
}

@media only screen and (min-width: 375px) and (max-width: 481px) {
    .qui-course-card-title {
        font-size: 1.2em;
    }
    .qui-course-card-share-widget {
        margin-right: -1em;
    }
    .qui-course-card-body {
        min-height: 20em;
    }
    .qui-course-card-link-container {
        margin-right: -0.8em;
    }
    .qui-course-card-date-container {
        font-size: 0.6em;
    }
    .qui-course-card-tag-container {
        font-size: 0.7em;
    }
    .qui.qui-course-card .qui-slider-card-box {
        left: 20%;
    }
}

@media only screen and (min-width: 481px) {
    .qui-course-card-share-block {
        font-size: 0.6em;
    }
    .qui-course-card-share-widget {
        font-size: 0.8em;
        margin-right: -1em;
    }
    .qui-course-card-date-container {
        font-size: 0.8em;
    }
    .qui-course-card-tag-container {
        font-size: 0.8em;
    }
    .qui-course-card-link-container {
        margin-right: -0.8em;
    }
}

@media only screen and (min-width: 540px) {
    .qui-course-card-share-block {
        font-size: 0.6em;
    }
    .qui-course-card-share-widget {
        font-size: 0.8em;
        margin-right: -1.3em;
    }
}

@media only screen and (min-width: 768px) {
    .qui-course-card-share-block {
        font-size: 0.6em;
    }
    .qui-course-card-share-widget {
        font-size: 0.8em;
        margin-right: -1.5em;
    }
}

@media only screen and (min-width: 832px) {
    .qui-course-card-share-block {
        font-size: 0.6em;
    }
    .qui-course-card-share-widget {
        font-size: 0.5em;
        margin-right: -2em;
    }
}

@media only screen and (min-width: 1024px) {
    .qui-course-card-share-block {
        font-size: 0.6em;
    }
    .qui-course-card-share-widget {
        font-size: 0.4em;
        margin-right: -3em;
    }
}