.qui-square-carousel {
  overflow: inherit;
  text-align: center;
}
.qui-square-carousel .qui-square-slide-container {
  width: 99%;
}
.qui-square-carousel .qui-square-slide {
  height: auto;
  width: 99%;
}
.qui-square-carousel .qui-slider-card-box {
  display: none;
}
.qui-square-carousel .slick-slide {
  .qui-card-label {
    display: none;
  }
  &.slick-active {
    transform: scaleY(1);
    .qui-slider-card-box {
      display: inline-block;
    }
    .qui-card-label {
      display: inline;
    }
  }
}
.qui-square-slide-container .qui-banner-card {
  display: inline-block;
  font-size: 0.75em;
  width: 100%;
  padding-bottom: 75%;
  border-radius: 1.5em;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 4px 3px #949494;
}
@media only screen and (min-width: 320px) {
  .qui-square-slide-container .qui-banner-card {
    width: 55vw;
    height: 6vh;
  }
  .qui-square-slide-container .qui-banner-card .qui-slider-card-box {
    position: absolute;
    font-size: 1em;
    max-width: 80%;
    left: 0%;
    bottom: 12%;
    opacity: 0.9;
    padding: 0.5em 1em;
    border-radius: 0px 0.5em 0.5em 0px;
  }
  .qui-square-slide-container .qui-banner-card .qui-slider-card-box-content {
    line-height: 1.1;
    text-align: left;
    padding: 0.1em 0em;
    max-width: 99%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .qui-square-carousel .slick-dots li button:before {
    font-size: 9px;
  }
  .qui-square-carousel .slick-dots li.slick-active button:before {
    font-size: 12px;
    color: #a6a6a6;
  }
  .qui-square-carousel .slick-dots li {
    margin: 0 -4px;
  }
}
@media only screen and (min-width: 481px) {
  .qui-square-slide-container .qui-banner-card {
    width: 59vw;
    height: 7vh;
  }
  .qui-square-slide-container .qui-banner-card .qui-slider-card-box {
    position: absolute;
    font-size: 1.7em;
    left: 0%;
    bottom: 12%;
    opacity: 0.9;
    padding: 0.5em 0.5em;
    border-radius: 0px 0.8em 0.8em 0px;
  }
  .qui-square-slide-container .qui-banner-card .qui-slider-card-box-content {
    line-height: 1.1;
    text-align: left;
    padding: 0.1em 0em;
    max-width: 99%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .qui-square-carousel .slick-dots li button:before {
    font-size: 12px;
  }
  .qui-square-carousel .slick-dots li.slick-active button:before {
    font-size: 20px;
    color: #a6a6a6;
  }
  .qui-square-carousel .slick-dots li {
    margin: -2px 2px;
  }
}
@media only screen and (min-width: 769px) {
  .qui-square-slide-container .qui-banner-card {
    width: 57vw;
    height: 7vh;
  }
  .qui-square-slide-container .qui-banner-card .qui-slider-card-box {
    position: absolute;
    font-size: 2.1em;
    min-width: 85%;
    left: 0%;
    bottom: 12%;
    opacity: 0.9;
    padding: 0.5em 0.5em;
    border-radius: 0px 0.8em 0.8em 0px;
  }
  .qui-square-slide-container .qui-banner-card .qui-slider-card-box-content {
    line-height: 1.1;
    text-align: left;
    padding: 0.1em 0em;
    max-width: 99%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
@media only screen and (min-width: 1024px) {
  .qui-square-slide-container .qui-banner-card {
    width: 60vw;
    height: 7vh;
  }
  .qui-square-slide-container .qui-banner-card .qui-slider-card-box {
    position: absolute;
    font-size: 2.2em;
    min-width: 85%;
    left: 0%;
    bottom: 12%;
    opacity: 0.9;
    padding: 0.5em 0.5em;
    border-radius: 0px 0.8em 0.8em 0px;
  }
  .qui-square-slide-container .qui-banner-card .qui-slider-card-box-content {
    line-height: 1.1;
    text-align: left;
    padding: 0.1em 0em;
    max-width: 99%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .qui-square-carousel .slick-dots li button:before {
    font-size: 12px;
  }
  .qui-square-carousel .slick-dots li.slick-active button:before {
    font-size: 24px;
    color: #a6a6a6;
  }
  .qui-square-carousel .slick-dots li {
    margin: -2px 3px;
  }
}
