.qui-nav-panel-editing-text {
  padding: 0.6em 2.5em;
  background-color: #454545;
  margin: 0 0.5em;
}

.qui-nav-panel-editing-text-container {
  display: flex;
  align-items: center;
}

.qui-nav-panel-language-container {
  margin-right: 1em;
}

.qui-nav-panel-editing-deck-name {
  margin: 0;
}
