.qui-progressbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1em 1.5em;
}
.qui .size-tiny .icon,
.qui .size-small .icon {
  font-size: 2em;
}
.qui .size-normal .icon,
.qui .size-big .icon {
  font-size: 2.5em;
}
.qui .size-huge .icon,
.qui .size-massive .icon {
  font-size: 2.2em;
}
.qui .line {
  position: relative;
  height: 0.38em;
  flex: 1;
  background-color: black;
  width: 12em;
  margin: 0em 0.1em;
}
.qui .middle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  padding: 0em 0.5em;
}

@media only screen and (min-width: 320px) {
  .qui-progressbar {
    font-size: 1em;
  }
  .qui .line {
    width: 1em;
  }
  .qui .size-massive .line {
    width: 0.5em;
  }
}

@media only screen and (min-width: 481px) {
  .qui-progressbar {
    font-size: 1.25em;
  }
}

@media only screen and (min-width: 769px) {
  .qui-progressbar {
    font-size: 1.5em;
  }
}
