.qui .qui-inline-option-container {
  display: flex;
  align-items: center;
}

.qui .qui-option-item-close-icon {
  display: flex;
}

.qui.qui-option-item-one .qui-char-limit-max-length {
  font-size: 0.65em;
}

.qui.qui-option-item-one .qui-char-limit-ideal-length {
  font-size: 0.65em;
}

.qui .qui-inline-edit-with-remove-button-close-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #a8a8a8;
}

.qui .qui-inline-edit-with-remove-button-icon {
  cursor: pointer;
  font-size: 0.9em;
  margin-top: 0.1em;
}

.qui.qui-option-item-one .qui-input-field {
  text-indent: 0;
}

@media only screen and (min-width: 320px) {
  .qui .qui-inline-edit-with-remove-button-close-icon {
    height: 1.5em;
    width: 1.5em;
    font-size: 1.4em;
  }
}

@media only screen and (min-width: 769px) {
  .qui .qui-inline-edit-with-remove-button-close-icon {
    height: 1.5em;
    width: 1.5em;
    font-size: 1.6em;
  }
}
