.qui-nugget-card {
    height: 100%;
    width: 100%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    border-radius: 0.6em;
}
.qui-nugget-card-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.qui-nugget-card-body {
    display: flex;
    flex-direction: column;
    margin: 1em 1.8125em 0 1.8125em;
}
.qui-nugget-card-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5em;
}
.qui-nugget-card-title-container {
    z-index: 1;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.qui-nugget-card-title {
    text-align: left;
    font-size: 1.4em;
    color: #454545;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}
.qui-nugget-card-tag-container {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.qui .qui-nugget-card-tag {
    margin: 0.2em;
}
.qui-nugget-block-styling {
    margin-left: -0.5em;
    pointer-events: none;
}
.qui-nugget-card-description {
    width: 55%;
    text-align: left;
    color: #666666;
    font-size: 0.7em;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    white-space: normal;
}
.qui-nugget-card-description-container {
    display: flex;
    margin-top: 0.5em;
    width: 100%;
    justify-content: space-between;
}
.qui-nugget-card-arc-menu {
    height: 4em;
    width: 5em;
}
.qui-nugget-card-share-block {
    font-size: 0.52em;
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: end;
    margin-right: 1.5em;
    justify-content: end;
}
.qui-nugget-card-link-container {
    text-align: right;
    display: flex;
    align-items: center;
}
.qui-nugget-card-link {
    color: #666666;
    text-decoration: none;
}
.qui-nugget-card-share-widget {
    margin-top: -0.1em;
    margin-right: -1.5em;
    margin-bottom: -0.6em;
}
.qui-nugget-card-reward {
    width: 50%;
    text-overflow: ellipsis;
    font-size: 0.8em;
}
.qui-nugget-card-name {
    font-size: 1.1em;
    color: #aaaaaa;
}
.qui-nugget-card .qui-banner-card {
    margin-top: 1.3em;
    box-shadow: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.qui.qui-nugget-card .qui-slider-card-box {
    position: absolute;
    font-size: 1em;
    min-width: 40%;
    left: 27%;
    bottom: 0;
    opacity: 1;
    padding: 0.5em 1em;
    background: #454545;
    border-top-left-radius:0.5em;
    border-top-right-radius:0.5em;
    border-bottom-right-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.qui-nugget-card-truncate{
    max-width: 15ch; 
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.qui-nugget-card-untruncate{
    height: auto;
    font-weight: bold;
    word-break: break-word;
    overflow: hidden;
    -webkit-box-orient: vertical;
    white-space: no-wrap;
}
.qui-nugget-card-tag-show-more{
    display: flex;
}
.qui-nugget-card-show-more-container{
    display: flex;
    justify-content: center;
    height: 1.5em;
}
.qui-nugget-card-show-more{
    width: 10%;
    background:transparent;
    border:none;
    outline:none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (min-width: 320px) and (max-width: 374px) {
    .qui-nugget-block-styling{
        font-size: 0.8em;
        margin-left: -0.7em;
    }
    .qui-nugget-card-tag-container {
        font-size: 0.5em;
    }
    .qui-nugget-card-reward {
        font-size: 0.7em;
    }
    .qui-nugget-card-share-widget {
        font-size: 1.3em;
        margin-right: -0.9em;
    }
    .qui-nugget-card-title {
        font-size: 1em;
        font-weight: bold;
    }
    .qui-nugget-card-share-block{
        margin-bottom: 1em;
    }
    .qui-nugget-card-description{
        font-size: 0.6em;
    }
    .qui-nugget-card-link-container {
        margin-right: -0.8em;
    }
    .qui-nugget-card .qui-arc{
        height: 2.5em;
        width: 2.5em;
    }
    .qui-nugget-card  .qui-arc-menu .qui-arc-menu-button{
        height:3em;
        width:3em;
    }
    .qui-nugget-card-description-container{
        margin-top: 1em;
    }
    .qui-nugget-card  .qui-arc-icon-fragment-left,
    .qui-nugget-card  .qui-arc-icon-fragment-right{
        height:0.5em;
        width:0.5em;
    }
}

@media only screen and (min-width: 375px) and (max-width: 411px) {
    .qui-nugget-card-title {
        font-size: 0.8em;
    }
    .qui-nugget-block-styling{
        font-size: 0.7em;
        margin-left: -0.7em;
    }
    .qui-nugget-card-share-widget {
        margin-right: -1em;
    }
    .qui-nugget-card-tag-container {
        font-size: 0.75em;
        margin-top: 0.5em;
    }
    .qui-nugget-card-link-container {
        margin-right: -0.8em;
    }
    .qui-nugget-card-name{
        font-size: 0.8em;
    }
    .qui-nugget-card-link{
        font-size: 0.8em;
    }
    .qui-nugget-card-container{
        font-size: 1.3em;
    }
    .qui-nugget-card-share-block{
        margin-bottom: 1em;
    }
    .qui-nugget-card-tag{
        font-size: 0.6em;
    }
    .qui-nugget-card-reward {
        font-size: 0.6em;
    }
    .qui-nugget-card-description-container{
        margin-top: 1em;
    }
    .qui-nugget-card-description{
        font-size: 0.55em;
    }
    .qui-nugget-card-share-widget {
        font-size: 1.1em;
    }
    .qui-nugget-card .qui-arc{
        height: 2.5em;
        width: 2.5em;
    }
    .qui-nugget-card  .qui-arc-menu .qui-arc-menu-button{
        height:4em;
        width:4em;
    }
    .qui-nugget-card-description-container{
        margin-top: 1em;
    }
    .qui-nugget-card  .qui-arc-icon-fragment-left,
    .qui-nugget-card  .qui-arc-icon-fragment-right{
        height:0.7em;
        width:0.7em;
    }
    .qui-nugget-card  .qui-arc-menu-header{
        font-size: 0.5em;
    }
}

@media only screen and (min-width: 412px){
    .qui-nugget-card-title {
        font-size: 0.8em;
    }
    .qui-nugget-block-styling{
        font-size: 0.7em;
        margin-left: -0.7em;
    }
    .qui-nugget-card-share-block{
        margin-bottom: 0.7em;
    }
    .qui-nugget-card-share-widget {
        margin-right: -1em;
    }
    .qui-nugget-card-tag-container {
        font-size: 0.5em;
    }
    .qui-nugget-card-link-container {
        margin-right: -0.8em;
        margin-top: 0.1em;
    }
    .qui-nugget-card-link{
        font-size: 0.8em;
    }
    .qui-nugget-card-copy-icon-container{
        font-size: 0.8em;
    }
    .qui-nugget-card-name{
        font-size: 0.8em;
    }
    .qui-nugget-card-container{
        font-size: 1.3em;
    }
    .qui-nugget-card-tag{
        font-size: 0.8em;
    }
    .qui-nugget-card-reward {
        font-size: 0.55em;
    }
    .qui-nugget-card-description{
        font-size: 0.5em;
    }
    .qui-nugget-card-description-container{
        margin-top: 1em;
    }
    .qui-nugget-card .qui-arc{
        height: 2.5em;
        width: 2.5em;
    }
    .qui-nugget-card  .qui-arc-menu .qui-arc-menu-button{
        height:4em;
        width:4em;
    }
    .qui-nugget-card-description-container{
        margin-top: 1em;
    }
    .qui-nugget-card  .qui-arc-icon-fragment-left,
    .qui-nugget-card  .qui-arc-icon-fragment-right{
        height:0.7em;
        width:0.7em;
    }
    .qui-nugget-card  .qui-arc-menu-header{
        font-size: 0.5em;
    }
}

@media only screen and (min-width: 481px) {
    .qui-nugget-card{
        width:360px;
        min-height:500px;
    }
    .qui-nugget-card-body{
        margin: 0.5em 1em 0 1em;
    }
    .qui-nugget-card-share-block {
        font-size: 0.6em;
    }
    .qui-nugget-block-styling {
        font-size: 0.65em;
    }
    .qui-nugget-card-tag-container{
        font-size: 0.5em;
        margin-top: 0.5em;
    }
    .qui-nugget-card-name{
        font-size:0.7em;
    }
    .qui-nugget-card-title{
        font-size: 0.8em;
    }
    .qui-nugget-card-description{
        font-size: 0.5em;
    }
    .qui-nugget-card-share-widget {
        font-size: 0.5em;
        margin-right: -1.5em;
    }
    .qui-nugget-card-link-container{
        font-size: 1em;
    }
    .qui-nugget-card-link{
        font-size: 0.7em;
    }
    .qui-nugget-card-copy-icon-container{
        font-size: 0.7em;
        margin-right: 0.2em;
    }
    .qui-nugget-card-reward {
        font-size:0.6em;
    }
    .qui-nugget-card .qui-banner-card{
        margin-top: 0.9em;
    }
    .qui-nugget-card-footer{
        height: 3em;
    }
    .qui-nugget-card .qui-arc{
        height: 2em;
        width: 2em;
    }
    .qui-nugget-card  .qui-arc-menu .qui-arc-menu-button{
        height:3em;
        width:3em;
    }
    .qui-nugget-card  .qui-arc-icon-fragment-left,
    .qui-nugget-card  .qui-arc-icon-fragment-right{
        height:0.5em;
        width:0.5em;
    }
    .qui-nugget-card  .qui-arc-menu-header{
        font-size: 0.5em;
    }
}

@media only screen and (min-width: 540px) {
    .qui-nugget-card{
        width:360px;
        min-height:500px;
    }
    .qui-nugget-card-body{
        margin: 0.5em 1em 0 1em;
    }
 
    .qui-nugget-card-share-block {
        font-size: 0.6em;
    }
    .qui-nugget-block-styling {
        font-size: 0.65em;
    }
    .qui-nugget-card-tag-container{
        font-size: 0.5em;
        margin-top: 0.5em;
    }
    .qui-nugget-card-name{
        font-size:0.7em;
    }
    .qui-nugget-card-title{
        font-size: 0.8em;
    }
    .qui-nugget-card-description{
        font-size: 0.5em;
    }
    .qui-nugget-card-share-widget {
        font-size: 0.5em;
        margin-right: -1.5em;
    }
    .qui-nugget-card-link-container{
        font-size: 1em;
    }
    .qui-nugget-card-link{
        font-size: 0.7em;
    }
    .qui-nugget-card-copy-icon-container{
        font-size: 0.7em;
        margin-right: 0.2em;
    }
    .qui-nugget-card-reward {
        font-size:0.6em;
    }
    .qui-nugget-card .qui-banner-card{
        margin-top: 0.9em;
    }
    .qui-nugget-card-footer{
        height: 3em;
    }
    .qui-nugget-card .qui-arc{
        height: 2em;
        width: 2em;
    }
    .qui-nugget-card  .qui-arc-menu .qui-arc-menu-button{
        height:3em;
        width:3em;
    }
    .qui-nugget-card  .qui-arc-icon-fragment-left,
    .qui-nugget-card  .qui-arc-icon-fragment-right{
        height:0.5em;
        width:0.5em;
    }
    .qui-nugget-card  .qui-arc-menu-header{
        font-size: 0.5em;
    }
}

@media only screen and (min-width: 768px) {
    .qui-nugget-card{
        width:360px;
        min-height:500px;
    }
    .qui-nugget-card-body{
        margin: 0.5em 1em 0 1em;
    }
    .qui-nugget-card-share-block {
        font-size: 0.6em;
    }
    .qui-nugget-block-styling {
        font-size: 0.65em;
    }
    .qui-nugget-card-tag-container{
        font-size: 0.5em;
        margin-top: 0.5em;
    }
    .qui-nugget-card-name{
        font-size:0.7em;
    }
    .qui-nugget-card-title{
        font-size: 0.8em;
    }
    .qui-nugget-card-description{
        font-size: 0.5em;
    }
    .qui-nugget-card-share-widget {
        font-size: 0.5em;
        margin-right: -1.5em;
    }
    .qui-nugget-card-link-container{
        font-size: 1em;
    }
    .qui-nugget-card-link{
        font-size: 0.7em;
    }
    .qui-nugget-card-copy-icon-container{
        font-size: 0.7em;
        margin-right: 0.2em;
    }
    .qui-nugget-card-reward {
        font-size:0.55em;
    }
    .qui-nugget-card .qui-banner-card{
        margin-top: 0.9em;
    }
    .qui-nugget-card-footer{
        height: 3em;
    }
    .qui-nugget-card .qui-arc{
        height: 2em;
        width: 2em;
    }
    .qui-nugget-card  .qui-arc-menu .qui-arc-menu-button{
        height:3em;
        width:3em;
    }
    .qui-nugget-card  .qui-arc-icon-fragment-left,
    .qui-nugget-card  .qui-arc-icon-fragment-right{
        height:0.5em;
        width:0.5em;
    }
}

@media only screen and (min-width: 832px) {
    .qui-nugget-card{
        width:360px;
        min-height:500px;
    }
    .qui-nugget-card-body{
        margin: 0.5em 1em 0 1em;
    }
    .qui-nugget-card-share-block {
        font-size: 0.6em;
    }
    .qui-nugget-block-styling {
        font-size: 0.65em;
    }
    .qui-nugget-card-tag-container{
        font-size: 0.5em;
    }
    .qui-nugget-card-name{
        font-size:0.7em;
    }
    .qui-nugget-card-title{
        font-size: 0.8em;
    }
    .qui-nugget-card-description{
        font-size: 0.5em;
    }
    .qui-nugget-card-share-widget {
        font-size: 0.3em;
        margin-right: -3em;
    }
    .qui-nugget-card-link-container{
        font-size: 1em;
    }
    .qui-nugget-card-link{
        font-size: 0.7em;
    }
    .qui-nugget-card-copy-icon-container{
        font-size: 0.7em;
        margin-right: 0.2em;
    }
    .qui-nugget-card-reward {
        font-size:0.6em;
    }
    .qui-nugget-card .qui-banner-card{
        margin-top: 0.9em;
    }
    .qui-nugget-card .qui-arc{
        height: 2em;
        width: 2em;
    }
    .qui-nugget-card  .qui-arc-menu .qui-arc-menu-button{
        height:3em;
        width:3em;
    }
    .qui-nugget-card  .qui-arc-icon-fragment-left,
    .qui-nugget-card  .qui-arc-icon-fragment-right{
        height:0.5em;
        width:0.5em;
    }
}

@media only screen and (min-width: 1024px) {
    .qui-nugget-card{
        width:360px;
        min-height:500px;
    }
    .qui-nugget-card-body{
        margin: 0.5em 1em 0 1em;
    }
    .qui-nugget-card-share-block {
        font-size: 0.6em;
    }
    .qui-nugget-block-styling {
        font-size: 0.65em;
    }
    .qui-nugget-card-tag-container{
        font-size: 0.5em;
    }
    .qui-nugget-card-share-block{
        margin-bottom: 0.5em;
    }
    .qui-nugget-card-name{
        font-size:0.7em;
    }
    .qui-nugget-card-title{
        font-size: 0.8em;
    }
    .qui-nugget-card-description{
        font-size: 0.5em;
    }
    .qui-nugget-card-share-widget {
        font-size: 0.25em;
        margin-right: -3em;
    }
    .qui-nugget-card-link-container{
        font-size: 1em;
    }
    .qui-nugget-card-link{
        font-size: 0.7em;
    }
    .qui-nugget-card-copy-icon-container{
        font-size: 0.7em;
        margin-right: 0.2em;
    }
    .qui-nugget-card-reward {
        font-size:0.6em;
    }
    .qui-nugget-card .qui-banner-card{
        margin-top: 0.9em;
    }
    .qui-nugget-card .qui-arc{
        height: 2em;
        width: 2em;
    }
    .qui-nugget-card  .qui-arc-menu .qui-arc-menu-button{
        height:3em;
        width:3em;
    }
    .qui-nugget-card  .qui-arc-icon-fragment-left,
    .qui-nugget-card  .qui-arc-icon-fragment-right{
        height:0.5em;
        width:0.5em;
    }
}
