.qui {
  width: 100%;
  height: 100%;
}

.qui .qui-ribbon {
  position: relative;
  transform: translate(-47%, 73%) rotate(-45deg);
  transform-origin: top center;
  text-align: center;
  padding: 0.5em 1em;
}

.qui.float-right .qui-ribbon {
  transform: translate(47%, 73%) rotate(45deg);
}

.qui-ribbon-text {
  font-size: 1em;
  font-weight: bold;
  text-transform: capitalize;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .qui .qui-ribbon {
    transform: translate(-46%, 59%) rotate(-45deg);
  }
  .qui.float-right .qui-ribbon {
    transform: translate(46%, 56%) rotate(45deg);
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .qui .qui-ribbon {
    transform: translate(-47%, 53%) rotate(-45deg);
  }
  .qui.float-right .qui-ribbon {
    transform: translate(47%, 62%) rotate(45deg);
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .qui .qui-ribbon {
    transform: translate(-47%, 73%) rotate(-45deg);
  }
  .qui.float-right .qui-ribbon {
    transform: translate(47%, 74%) rotate(45deg);
  }
}