.qui .ribbon-menu {
    height: 112px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    background-color: #e8e8e8;
}
.qui .ribbon-menu-html-container,
.qui .ribbon-menu-home-container,
.qui .ribbon-menu-design-container,
.qui .ribbon-menu-tools-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px 9px 10px 20px;
}
.qui .ribbon-menu-html-container {
    width: 316px;
}
.qui .ribbon-menu-home-container {
    width: 999px;
}
.qui .ribbon-menu-design-container {
    width: 316px;
}
.qui .ribbon-menu-tools-container {
    width: 632px;
}
.qui .exit-section,
.qui .question-bank-section {
    font-size: 1em;
    height: 84px;
    width: 84px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 4px grey;
    border-radius: 5px;
}
.qui .label {
    font-size: 10px;
    color: #666666;
    margin-top: 5px;
}
.qui .icon {
    font-size: 3em;
}

.qui .parent-vertical-line {
    height: 86.01px;
    border: 1px solid #dddddd;
}
.qui .child-vertical-line {
    height: 38px;
    border: 1px solid #dddddd;
}
.qui .save-section,
.qui .vo-section,
.qui .view-section,
.qui .file-section {
    display: flex;
    flex-direction: column;
}
.qui .save-section-child,
.qui .vo-section-child,
.qui .file-section-child,
.qui .settings-section-child {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.qui .vo-section-right-content {
    width: 130px;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 3px;
}
.qui .file-right-icons {
    width: 16px;
    height: 16px;
    padding: 0 5px;
}
.qui .save-exit,
.qui .question-bank {
    height: 42px;
    width: 42px;
}

.qui .file-icons {
    width: 23.14px;
}
.qui .label-file {
    position: relative;
    font-size: 10px;
    top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666666;
}
.qui .save-section-child-container,
.file-section-child-container,
.settings-section-child-container,
.qui .vo-section-child-container,
.qui .view-section-child-container {
    height: 64px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #f5f5f5;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.qui .save-section-child-container {
    width: 187px;
}
.qui .file-section-child-container {
    width: 187px;
}
.qui .vo-section-child-container {
    width: 234px;
}
.qui .view-section-child-container {
    width: 264px;
    padding: 0 10px;
}
.qui .settings-section-child-container {
    width: 149px;
}
