.qui-earncard {
  background-color: white;
  border-radius: 2em;
  box-shadow: 0px 10px 20px #d2d2d2;
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
}
.qui .qui-left-side {
  width: 50%;
  padding: 0 0.5em 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.qui .qui-right-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.qui .qui-left-side .qui-banner-card {
  border-radius: 1.5em;
  box-shadow: 0px 10px 20px #d2d2d2;
}

.qui .qui-earncard-icon {
  text-align: left;
}
.qui .qui-checkbox {
  display: flex;
  justify-content: left;
}
.qui .qui-checkbox i {
  margin: 0 0.05em;
}
.qui .qui-course-date {
  display: flex;
  justify-content: left;
  margin-top: 0.3em;
}
.qui .qui-course-date h2 {
  margin: 0;
}
.qui .qui-left-lower {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1em 0 0 0;
}

.qui .size-massive .qui-earncard-icon i {
  font-size: 5.5em;
}
.qui .size-huge .qui-earncard-icon i {
  font-size: 5em;
}
.qui .size-big .qui-earncard-icon i {
  font-size: 4.5em;
}
.qui .size-normal .qui-earncard-icon i {
  font-size: 4em;
}
.qui .size-small .qui-earncard-icon i {
  font-size: 3em;
}
.qui .size-tiny .qui-earncard-icon i {
  font-size: 2.7em;
}
.qui .size-normal .qui-checkbox i {
  font-size: 2em;
}
.qui .size-small .qui-checkbox i {
  font-size: 1.7em;
}
.qui .size-tiny .qui-checkbox i {
  font-size: 1.2em;
}
.qui .qui-course-header {
  display: flex;
  text-align: right;
  justify-content: right;
}
.qui .qui-course-header h1 {
  margin: 0 0.5em 0 0;
}

.qui .qui-course-description {
  text-align: right;
}
.qui .qui-course-description h3 {
  color: black;
  font-weight: 100;
}
.qui .fa-check-square {
  filter: drop-shadow(0px 10px 3px #d2d2d2);
}

.qui .qui-course-banner {
  height: 100%;
  width: 1em;
}
@media only screen and (max-width: 460px) {
  .qui .qui-left-side .qui-banner-card {
    font-size: 0.4em;
  }
}

@media screen and (max-width: 720px) {
  .qui-earncard {
    border-radius: 1.2em;
    padding: 1em;
  }
  .qui .qui-left-side .qui-banner-card {
    border-radius: 1em;
    box-shadow: 0px 7px 20px #d2d2d2;
  }
  .qui .fa-check-square {
    filter: drop-shadow(0px 3px 3px #d2d2d2);
  }
  .qui .qui-checkbox h1 {
    font-size: 1em;
  }
  .qui .qui-course-banner {
    width: 0.5em;
  }
}

@media only screen and (min-width: 320px) {
  .qui .qui-course-header h1 {
    font-size: 0.7em;
  }
  .qui .qui-course-description h3 {
    font-size: 0.55em;
  }
  .qui .size-normal .qui-earncard-icon i {
    font-size: 2em;
  }
  .qui .size-massive .qui-earncard-icon i {
    font-size: 3.5em;
  }
  .qui .size-huge .qui-earncard-icon i {
    font-size: 3em;
  }
  .qui .size-big .qui-earncard-icon i {
    font-size: 2.5em;
  }

  .qui .size-massive .qui-checkbox i {
    font-size: 4em;
  }
  .qui .size-huge .qui-checkbox i {
    font-size: 3em;
  }
  .qui .size-big .qui-checkbox i {
    font-size: 2.5em;
  }

  .qui .size-normal .qui-checkbox i {
    font-size: 1em;
  }
  .qui .qui-course-date h2 {
    font-size: 0.6em;
  }
}
@media only screen and (min-width: 481px) {
  .qui .qui-course-header h1 {
    font-size: 1.2em;
  }
  .qui .qui-course-description h3 {
    font-size: 0.65em;
  }
  .qui .size-normal .qui-earncard-icon i {
    font-size: 3em;
  }
  .qui .size-massive .qui-earncard-icon i {
    font-size: 4em;
  }
  .qui .size-huge .qui-earncard-icon i {
    font-size: 3.5em;
  }
  .qui .size-big .qui-earncard-icon i {
    font-size: 3em;
  }

  .qui .size-massive .qui-checkbox i {
    font-size: 4em;
  }
  .qui .size-huge .qui-checkbox i {
    font-size: 3em;
  }
  .qui .size-big .qui-checkbox i {
    font-size: 2.5em;
  }

  .qui .size-normal .qui-checkbox i {
    font-size: 1.5em;
  }
  .qui .qui-course-date h2 {
    font-size: 0.9em;
  }
}

@media only screen and (min-width: 769px) {
  .qui .qui-course-header h1 {
    font-size: 2em;
  }
  .qui .qui-course-description h3 {
    font-size: 1.15em;
  }
  .qui .size-normal .qui-earncard-icon i {
    font-size: 3.5em;
  }
  .qui .size-massive .qui-earncard-icon i {
    font-size: 4em;
  }
  .qui .size-huge .qui-earncard-icon i {
    font-size: 4.2em;
  }
  .qui .size-big .qui-earncard-icon i {
    font-size: 4em;
  }
  .qui .size-massive .qui-checkbox i {
    font-size: 2em;
  }
  .qui .size-huge .qui-checkbox i {
    font-size: 2.2em;
  }
  .qui .size-big .qui-checkbox i {
    font-size: 2em;
  }

  .qui .size-normal .qui-checkbox i {
    font-size: 2em;
  }
  .qui .qui-course-date h2 {
    font-size: 1.2em;
  }
}
