.qui-AppMenu .float-none{
    display: flex;
}
.qui-AppMenu .float-left{
    display: flex;
    justify-content: flex-start;
}
.qui-AppMenu .float-inline{
    display: flex;
    justify-content: center;
}
.qui-AppMenu .float-right{
    display: flex;
    justify-content: flex-end;
}
.qui-avatarContainer{
    z-index:2;  
}
.qui .qui-catalog-container{
    transform: translateX(100%);
}
.qui-main-container{
    display: flex; 
}
.qui-menuIconContainer .qui-iconContainer{
    padding:0 1em 0 0.5em;
}
.qui-main-container .qui-container{
    border-radius: 0%;
}
.qui-AppMenu {
    border-radius:2em;
}
.qui-catalogContainer .qui-catalogLabel{
    padding: 0 0.5em 0 0.8em;
}