.qui .float-none{
    display: flex;
}
.qui .float-left{
    display: flex;
    justify-content: flex-start;
}
.qui .float-inline{
    display: flex;
    justify-content: center;
}
.qui .float-right{
    display: flex;
    justify-content: flex-end;
}

.qui-avatarContainer{
    z-index:2;
    // transform: translateX(45%);
    // padding-left:1em;  
}
.qui .qui-catalog-container{
    transform: translateX(100%);
}
.qui-main-container{
    display: flex;
}

.qui-menuIconContainer .qui-iconContainer{
    padding-right: 0.5em;
}
.qui-main-container .qui-container{
    border-radius: 0%;
}

.qui-AppMenu {
    border-radius: 2em;
}