/* ================================================= */
/* Reward Container Defination */
/* ================================================= */
.qui .parent {
    min-width: 6rem;
    display: flexbox;
}

.qui .upperHalf {
    padding-left: 0.5em;
    text-align: left;
    font-size: 0.9em;
    font-weight: 900;
    color: #3e587a;
}

.qui .lowerHalf {
    width: 100%;
    display: flex;
    align-items: center;
}

.qui .lowerHalf .point {
    padding-left: 10px;
    text-align: left;
    font-size: 1.5em;
    color: #ed6e6e;
}

.qui .coinImage {
    width: 2em;
    align-self: start;
}
/* ================================================= */
/* Parent Size Definitions */
/* ================================================= */
.qui .size-massive .parent {
    width: 16rem;
}
.qui .size-huge .parent {
    width: 14rem;
}
.qui .size-big .parent {
    width: 12rem;
}
.qui .size-normal .parent {
    width: 10rem;
}
.qui .size-small .parent {
    width: 8rem;
}
.qui .size-tiny .parent {
    width: 6rem;
}
