/* ================================================= */
/* Reward Container Definitions */
/* ================================================= */
.qui .qui-parent {
    min-width: 6rem;
    display: flexbox;
}

.qui .qui-upperHalf {
    padding-left: 0.5em;
    text-align: left;
    font-size: 0.9em;
    font-weight: 900;
    color: #3e587a;
}

.qui .qui-lowerHalf {
    width: 100%;
    display: flex;
    align-items: center;
}

.qui .qui-lowerHalf .qui-point {
    padding-left: 10px;
    text-align: left;
    font-size: 1.5em;
    color: #ed6e6e;
}

.qui .qui-coinImage {
    width: 2em;
    align-self: start;
}