.qui .qui-navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.qui .qui-left-navbar {
    display: flex;
    align-items: center;
    width: auto;
}
.qui .qui-right-navbar {
    display: flex;
    align-items: center;
    width: auto;
    padding-right: .5em;
}
.qui .logoimg {
    margin-left: 0.35em;
    height: 3em;
    width: 2.7em;
    filter: drop-shadow(1px 1px 0.8px rgb(150, 146, 146));
}
.qui .qui-content {
    font-weight: bolder;
    color: #000000;
    margin-left: 2.2em;
    transform: scale(2, 3.45);
    text-transform: uppercase;
    filter: drop-shadow(1px 1px 0.8px rgb(150, 146, 146));
}
.qui .qui-searching {
    font-size: 1em;
    margin-right: 1em;
    transform: scale(2.25, 2.5);
    filter: drop-shadow(2.5px 2.5px 1.2px rgb(150, 146, 146));
}
.qui .qui-right-navbar .qui-AppMenu {
    font-size: 1em;
    filter: drop-shadow(1px 1px 2px rgb(150, 146, 146));
}
.qui .qui-navbar-container {
    width: 100%;
}
.qui .size-normal .fa-angle-left {
    font-size: 3.5em;
    margin-top: -0.01em;
    margin-right: -0.1em;
}
.qui .qui-appMenuContainer {
    display: flex;
    border-radius: 20%;
}

@media screen and (min-width: 320px) {
    .qui-navbar-container {
        font-size: 0.55em;
    }
}
@media screen and (min-width: 481px) {
    .qui-navbar-container {
        font-size: .8em;
    }
}
@media screen and (min-width: 769px) {
    .qui-navbar-container {
        font-size: 1.2em;
    }
}
