.qui.qui-splash {
  padding: 1.2em;
  background-color: #ffffff;
  border-radius: 1em;
  min-height: 31.2em;
  text-align: center;
  &.qui-splash-presenter-container {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: left;
  }
  &.is-hidden {
    display: none;
  }
  overflow: visible;
  .qui .qui-title-block {
    min-width: 12em;
    min-height: 10em;
  }
  .qui-splash-wrapper {
    height: 30em;
    display: flex;
    align-items: center;
  }
}

.qui .qui-splash-presenter {
  width: 45%;
  position: absolute;
  right: 0;
  bottom: 0;
  object-fit: cover;
}

.qui .qui-splash-text-block {
  font-size: 2em;
  position: relative;
  bottom: -0.5em;
  left: -0.6em;
  .qui .qui-text-block-area {
    width: 12em;
    font-size: 0.5em;
    .qui-block-text {
      font-weight: 300;
    }
  }
  .qui.qui-text-block-container {
    overflow: visible;
    position: relative;
    .qui-text-block-chat-arrow.qui-arrow-right-bottom {
      right: -1em;
      bottom: 0.5em;
      height: 0.5em;
      clip-path: polygon(0 0, 25% 50%, 0 100%);
    }
  }
}

@media only screen and (min-width: 720px) {
  .qui.qui-splash {
    width: 23em;
  }
}
