.qui .qui-actionmenu-items {
    display: flex;
    padding: 0.2em;
    align-items: center;
    border-bottom: 0.1em solid gray;
}
.qui .qui-actionmenu-icon {
    width: 2.5em;
    display: flex;
    justify-content: center;
}
.qui .qui-actionmenu-icons i {
    height: 1em;
}
.qui .qui-actionmenu-titles {
    text-align: left;
}

@media screen and (min-width: 320px) {
    .qui .qui-actionmenu-items {
        font-size: 0.5em;
    }
}
@media screen and (min-width: 481px) {
    .qui .qui-actionmenu-items {
        font-size: .8em;
    }
}
@media screen and (min-width: 769px) {
    .qui .qui-actionmenu-items {
        font-size: 1em;
    }
}
