.qui-portrait-carousel {
  overflow: inherit;
}

.qui .qui-portrait-slide .qui-checkbox i {
  position: absolute;
  bottom: 18%;
  right: 0%;
  left: 0%;
  margin: auto;
  font-size: 1.2em;
}
.qui .qui-portrait-slide .fa-check-square {
  filter: drop-shadow(0px 0px 0px #d2d2d2);
}
.qui-portrait-carousel .qui-portrait-slide-container {
  margin-top: 2em;
}
.qui-portrait-carousel .qui-portrait-slide {
  position: relative;
}
.qui-portrait-carousel .qui-slider-card-box {
  display: none;
}
.qui-portrait-carousel .slick-slide {
  .qui-card-label {
    display: none;
  }
  &.slick-active {
    transform: scaleY(1);
    .qui-slider-card-box {
      display: inline-block;
    }
    .qui-card-label {
      display: inline;
    }
  }
}

@media only screen and (min-width: 320px) {
  .qui-portrait-carousel .qui-portrait-slide-container {
    margin-top: 2em;
  }
  .qui-portrait-slide-container .qui-portrait-slide .qui-banner-card {
    display: inline-block;
    font-size: 0.75em;
    width: 100%;
    padding-bottom: 80vh;
    border-radius: 1.5em;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 0px 0px #666666;
  }
  .qui-portrait-slide-container .qui-banner-card .qui-slider-card-box {
    position: absolute;
    font-size: 1em;
    max-width: 70%;
    text-align: -webkit-center;
    margin: auto;
    left: 0%;
    right: 0%;
    bottom: 0%;
    opacity: 1;
    padding: 0.5em 1em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 0em;
  }
  .qui-portrait-slide-container .qui-banner-card .qui-slider-card-box-header {
    text-align: center;
  }
  .qui-portrait-slide .qui-mid-circle {
    width: 70px;
    height: 35px; /* as the half of the width */
    background-color: gold;
    border-top-left-radius: 100px; /* 100px of height + 10px of border */
    border-top-right-radius: 100px; /* 100px of height + 10px of border */
    border-bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 39.5px;
    margin: auto;
    z-index: 1;
  }
  .qui-portrait-carousel .slick-dots li button:before {
    font-size: 9px;
  }
  .qui-portrait-carousel .slick-dots li.slick-active button:before {
    font-size: 12px;
  }
  .qui-portrait-carousel .slick-dots li {
    margin: 0 -4px;
  }
  .qui-portrait-carousel .slick-dots {
    bottom: -25px;
    left: 0%;
    right: 0%;
    margin: auto;
    width: fit-content;
  }
  .qui-portrait-carousel .qui-slick-arrows{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
  }
  .qui-portrait-carousel .qui-slick-prev,.qui-slick-next{
    cursor: pointer;
  }
}

@media only screen and (min-width: 481px) {
  .qui-portrait-slide-container .qui-banner-card .qui-slider-card-box-header {
    text-align: center;
    font-size: 1.5em;
  }

  .qui-portrait-slide-container .qui-ribbon-container {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: capitalize;
  }
  .qui-portrait-slide .qui-mid-circle {
    width: 100px;
    height: 50px; /* as the half of the width */
    background-color: gold;
    border-top-left-radius: 100px; /* 100px of height + 10px of border */
    border-top-right-radius: 100px; /* 100px of height + 10px of border */
    border-bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 47px;
    margin: auto;
    z-index: 1;
  }
  .qui-portrait-carousel .qui-slick-arrows{
    font-size: 2em;
  }
  .qui-portrait-carousel .slick-dots li button:before {
    font-size: 12px;
  }
  .qui-portrait-carousel .slick-dots li.slick-active button:before {
    font-size: 15px;
    color: #a6a6a6;
  }
  .qui-portrait-carousel .slick-dots li {
    margin: 0 -2px;
  }
  .qui-portrait-carousel .slick-dots {
    bottom: -30px;
  }

}

@media only screen and (min-width: 769px) {
  .qui-portrait-slide-container .qui-banner-card .qui-slider-card-box-header {
    text-align: center;
    font-size: 1.7em;
  }

  .qui-portrait-slide-container .qui-ribbon-container {
    font-size: 1.7em;
    font-weight: bold;
    text-transform: capitalize;
  }
  .qui-portrait-slide .qui-mid-circle {
    width: 110px;
    height: 55px; /* as the half of the width */
    background-color: gold;
    border-top-left-radius: 100px; /* 100px of height + 10px of border */
    border-top-right-radius: 100px; /* 100px of height + 10px of border */
    border-bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 51px;
    margin: auto;
    z-index: 1;
  }
  .qui-portrait-carousel .qui-slick-arrows{
    font-size: 2.5em;
  }
  .qui-portrait-carousel .slick-dots li button:before {
    font-size: 15px;
  }
  .qui-portrait-carousel .slick-dots li.slick-active button:before {
    font-size: 17px;
    color: #a6a6a6;
  }
  .qui-portrait-carousel .slick-dots li {
    margin: 0 -2px;
  }
  .qui-portrait-carousel .slick-dots {
    bottom: -35px;
  }
}
