.qui.qui-slider {
  overflow: visible;
}

.qui.qui-slider.is-disabled {
  filter: grayscale(100%);
}

.qui .qui-slider-container .css-187mznn-MuiSlider-root {
  height: 0.7em;
  color: #ffbf00;
}

.qui .qui-slider-container .Mui-focusVisible.Mui-active {
  box-shadow: 0 0 0 12px #ffbf001a;
}

.qui .qui-slider-container .Mui-focusVisible,
.qui .qui-slider-container .css-eg0mwd-MuiSlider-thumb:hover {
  box-shadow: 0 0 0 8px #ffbf001a;
}
