.qui.qui-slider {
  overflow: visible;
}

.qui.qui-slider.is-disabled {
  filter: grayscale(100%);
}

// ---------------------------------------------------
// range-slider default CSS with modifications
// ---------------------------------------------------
.qui.qui-slider .rangeslider-horizontal {
  height: 12px;
  border-radius: 10px;
}

.qui.qui-slider .rangeslider {
  display: block;
  margin: 20px 0;
  position: relative;
  background: #e6e6e6;
  touch-action: none;
}

.qui.qui-slider .rangeslider.rangeslider-horizontal .rangeslider__fill {
  height: 100%;
  border-radius: 10px;
  top: 0;
  background-color: #ffab00;
}

.qui.qui-slider .rangeslider-horizontal .rangeslider__handle {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.qui.qui-slider .rangeslider .rangeslider__handle {
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  border: none;
  background-color: #ffab00;
}

.qui.qui-slider .rangeslider-horizontal .rangeslider__handle:after {
  display: none;
}

.qui.qui-slider .rangeslider-horizontal .rangeslider__handle-tooltip {
  top: -55px;
}

.qui.qui-slider .rangeslider .rangeslider__handle-tooltip {
  width: 40px;
  height: 40px;
  text-align: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  font-weight: normal;
  font-size: 14px;
  transition: all 100ms ease-in;
  border-radius: 4px;
  display: inline-block;
  color: white;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}

.qui.qui-slider .rangeslider .rangeslider__handle-tooltip span {
  margin-top: 12px;
  display: inline-block;
  line-height: 100%;
  user-select: none;
}

.qui.qui-slider .rangeslider-horizontal .rangeslider__handle-tooltip:after {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid rgba(0, 0, 0, 0.8);
  left: 50%;
  bottom: -8px;
  transform: translate3d(-50%, 0, 0);
}

.qui.qui-slider .rangeslider .rangeslider__handle-tooltip:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
}
