.qui.qui-slider {
  overflow: visible;
}

.qui.qui-slider.is-disabled {
  filter: grayscale(100%);
}

// ---------------------------------------------------
// range-slider default CSS with modifications
// ---------------------------------------------------
.qui.qui-slider .rangeslider-horizontal {
  height: 1em;
  border-radius: 1em;
}

.qui.qui-slider .rangeslider {
  display: block;
  margin: 1em 0;
  position: relative;
  background: #e6e6e6;
  touch-action: none;
}

.qui.qui-slider .rangeslider.rangeslider-horizontal .rangeslider__fill {
  height: 100%;
  border-radius: 1em;
  top: 0;
  background-color: #ffab00;
}

.qui.qui-slider .rangeslider-horizontal .rangeslider__handle {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.qui.qui-slider .rangeslider .rangeslider__handle {
  background: #fff;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  border: none;
  background-color: #ffab00;
}

.qui.qui-slider .rangeslider-horizontal .rangeslider__handle:after {
  display: none;
}

.qui.qui-slider .rangeslider-horizontal .rangeslider__handle-tooltip {
  top: -3.8em;
}

.qui.qui-slider .rangeslider .rangeslider__handle-tooltip {
  width: 3em;
  height: 3em;
  text-align: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  font-weight: normal;
  font-size: 0.9em;
  transition: all 100ms ease-in;
  border-radius: 0.5em;
  display: inline-block;
  color: white;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}

.qui.qui-slider .rangeslider .rangeslider__handle-tooltip span {
  margin-top: 0.95em;
  display: inline-block;
  line-height: 100%;
  user-select: none;
}

.qui.qui-slider .rangeslider-horizontal .rangeslider__handle-tooltip:after {
  border-left: 0.6em solid transparent;
  border-right: 0.6em solid transparent;
  border-top: 0.6em solid rgba(0, 0, 0, 0.8);
  left: 50%;
  bottom: -0.5em;
  transform: translate3d(-50%, 0, 0);
}

.qui.qui-slider .rangeslider .rangeslider__handle-tooltip:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
}

@media only screen and (min-width: 320px) {
  .qui.qui-slider .rangeslider-horizontal {
    height: 0.7em;
  }
  .qui.qui-slider .rangeslider-horizontal .rangeslider__handle{
    width: 1.5em;
    height: 1.5em;
  }
}

@media only screen and (min-width: 481px) {
  .qui.qui-slider .rangeslider-horizontal {
    height: 1em;
  }
  .qui.qui-slider .rangeslider-horizontal .rangeslider__handle{
    width: 2em;
    height: 2em;
  }
}
