.qui .qui-calender-container {
    padding: 1em;
    border-radius: 1em;
    background-color: #454545;
    .react-calendar__navigation {
        display: flex;
        justify-content: space-between;
        button {
            border: none;
        }
    }
}
